- if !defined?(path)
  - path = ""

.card.filled.flex
  iframe.filled src="/tests/#{current_layout.tab}/coverage-raw/#{path}" data-navigation-watch=true data-navigation-base="/tests/#{current_layout.tab}/coverage-raw/"
