- tabs = ["daemon", "client", "javascript"]
.card.test-viewer-overview
  ul.overviews
    - tabs.each do |testClass|
      li.overview
        == partial(:"tests/overall", :locals => {:title => I18n.t("tests.testClass.#{testClass}"),
                                                 :test_run => Occam::TestRun.for(testClass)})
