.card.filled
  ul.card-tabs.tabs role=:tablist data-panels="#{params[:tab]}-panels" data-push-navigation=true
    - if test_run
      - active = params[:subtab].nil?
      li.card-layout.tab role=:presentation class=(active ? "active" : "")
        a href=path role=:tab aria-controls="#{params[:tab]}-tab-panel-0" aria-selected=active.to_s
          | Overall
      - test_run.groups.each do |key, group|
        - active = params[:subtab] == key.to_s
        li.card-layout.tab role=:presentation class=(active ? "active" : "")
          a href="#{path}/#{key}" role=:tab aria-controls="#{params[:tab]}-tab-panel-key-#{key}" aria-selected=active.to_s
            = group.header
  ul.tab-panels id="#{params[:tab]}-panels"
    - if test_run
      li.tab-panel id="test-tab-panel-0" class=(params[:subtab].nil? ? "active" : "")
        == partial(:"tests/overall", :locals => {:path => path, :test_run => test_run})
      - test_run.groups.each do |key, group|
        li.tab-panel id="#{params[:tab]}-tab-panel-key-#{key}" class=(params[:subtab] == key.to_s ? "active" : "")
          == partial(:"tests/list", :locals => {:test_run => test_run, :group => group})
