h1.test
  .large-icon.test
    == embed_svg "images/icons/objects/configuration.svg", :hex => current_theme.hexColorFor("header.general.icon"), :width => "100%", :height => "100%"
  .name
    | System Information
  .organization
    | Information and Configuration Related to This Instance
.bar

- tabs = [:overall, :nodes]

ul.card-tabs.tabs role=:tablist data-panels="system-panels" data-push-navigation=true
  - tabs.each_with_index do |tab, i|
    - active = (i == 0 && params[:tab].nil?) || (current_layout.tab.to_s == tab.to_s)
    li.card-layout.tab role=:presentation class=(active ? "active" : "")
      a href="/system" role=:tab aria-controls="system-tab-panel-#{tab}" aria-selected=active.to_s
        = I18n.t("system.#{tab}.header")

.container
  ul.tab-panels#system-panels
    - tabs.each_with_index do |tab, i|
      - active = (i == 0 && params[:tab].nil?) || (current_layout.tab.to_s == tab.to_s)
      li.tab-panel id="system-tab-panel-#{tab}" class=(active ? "active" : "")
        .card.filled
          h2
            = I18n.t("system.#{tab}.header")
