nav.topbar
  - if (current_layout.view.to_s == "embedded") && defined?(object)
    a.logo href=object.url
  - elsif current_person.nil?
    a.logo href='/'
  - else
    a.logo href="/people/#{current_person.identity.uri}"
  - if current_layout.view == :desktop
    ul.navbar.right
      - if current_person.nil?
        li
          a.modal href="/login" #{I18n.t "navigation.login"}
        - if Occam::Config.configuration['allow-signup']
          li
            a.modal href="/people/new" #{I18n.t "navigation.signup"}
      - else
        li
          .dropdown-menu
            button.current-person title="Account Details" aria-haspopup=:true aria-expanded=:false
              span#username data-identity-uri=current_person.identity.uri data-person-id=current_person.id #{current_account.username}
              img#avatar src=current_person.avatar_url(24)
            ul.dropdown-menu-options role=:menu aria-label="Account Details"
              li role=:none
                a.icon role=:menuitem href="/people/#{current_person.identity.uri}"
                  = I18n.t "people.profile.header"
                  == svg(:ui, :profile)
              li role=:none
                a.icon role=:menuitem href="/people/#{current_person.identity.uri}/collection"
                  = I18n.t "people.collection.header"
                  == svg(:ui, :"list-view")
              / li role=:none
                a role=:menuitem href="/people/#{current_person.identity.uri}/memberships" #{I18n.t "tabs.memberships"}
              li role=:none
                a.icon role=:menuitem href="/people/#{current_person.identity.uri}/bookmarks"
                  = I18n.t "people.bookmarks.header"
                  == svg(:ui, :bookmark)
              / li role=:none
                a role=:menuitem href="/people/#{current_person.identity.uri}/storage" #{I18n.t "tabs.storage"}
              li role=:none
                a.icon role=:menuitem href="/people/#{current_person.identity.uri}/associations"
                  = I18n.t "people.associations.header"
                  == svg(:ui, :facets)
              li role=:none
                a.icon role=:menuitem href="/people/#{current_person.identity.uri}/keys"
                  = I18n.t "people.keys.header"
                  == svg(:ui, :login)
              li.separator role=:none
              li role=:none
                a role=:menuitem href="/logout" #{I18n.t "navigation.logout"}
      li
        .dropdown-menu
          button.dropdown-button.system title="System Details" aria-haspopup=:true aria-expanded=:false
            | System Details
            == svg(:ui, :"configuration-panel")
          ul.dropdown-menu-options role=:menu aria-label="System Details"
            /li
              a.icon role=:menuitem href="/system"
                | System Overview
                img src=imageURL("icons/ui/system.svg", :hex => current_theme.hexColorFor("interface.dropdown.icon"))
                img.hover src=imageURL("icons/ui/system.svg", :hex => current_theme.hexColorFor("interface.dropdown.hover.icon"))
            li role=:none
              a.icon role=:menuitem href="/tests"
                = I18n.t "tests.header"
                == svg(:ui, :test)
            li role=:none
              a.icon role=:menuitem href="/code-documentation"
                = I18n.t "navigation.code-documentation"
                == svg(:ui, :documentation)
            li role=:none
              a.icon role=:menuitem href="/system/code"
                = I18n.t "navigation.code"
                == svg(:ui, :code)
            li role=:none
              a.icon role=:menuitem href="/system/client-code"
                = I18n.t "navigation.client-code"
                == svg(:ui, :code)
            - if current_person && current_account.hasRole?(:administrator)
              li.separator role=:none
              li role=:none
                a.icon role=:menuitem href="/admin"
                  = I18n.t "navigation.admin"
                  == svg(:ui, :admin)
      li
        .dropdown-menu
          button.dropdown-button.documentation href="/documentation" title="Information and Resources" aria-haspopup=:true aria-expanded=:false
            | Information and Resources
            == svg(:ui, :documentation)
          ul.dropdown-menu-options role=:menu aria-label="Information and Resources"
            li role=:none
              a.icon role=:menuitem href="/about"
                = I18n.t "navigation.about"
                == svg(:ui, :"info.small")
            li role=:none
              a.icon role=:menuitem href="/acknowledgements"
                = I18n.t "navigation.acknowledgements"
                == svg(:ui, :credits)
            li role=:none
              a.icon role=:menuitem href="/documentation"
                = I18n.t "navigation.documentation"
                == svg(:ui, :documentation)
            li role=:none
              a.icon role=:menuitem href="/publications"
                = I18n.t "navigation.publications"
                == svg(:ui, :publications)
    ul.navbar.search.right
      li
        form action="/search" method=:get
          input#query  name = "query" placeholder = I18n.t('fields.placeholders.search')
          input type=:hidden name="types" value="on"
          input type=:hidden name="objects" value="on"
          .topbar-button
            == svg(:ui, :search)
            input#search type=:submit value=I18n.t("navigation.search") title=I18n.t("navigation.search")
