// tagify
@import "~@yaireo/tagify/dist/tagify.css";

// perfect-scrollbar
@import "~perfect-scrollbar/css/perfect-scrollbar.css";

// simplelightbox
@import "~simplelightbox/dist/simple-lightbox.css";

.sl-overlay {
  z-index: 999999;
  background: #000;
}

.simple-lightbox {
  z-index: 9999999;

  .sl-close {
    color: #fff;
  }
}
