- if !defined?(files)
  - files = []

- if !defined?(build)
  - build = nil

- if !defined?(noBuildList)
  - noBuildList = false

- if !defined?(task)
  - task = build

- fileListingReveal = (files.length == 0) && build && task

- build_tabs_id = "build-panels-" + object.ownerUUID
- if request.xhr?
  - build_tabs_id = "modal-#{build_tabs_id}"

.card.flex.filled.file-viewer
  ul.tabs.tab-bar.file-tabs.build-tabs data-panels=build_tabs_id
    - revealed = fileListingReveal ? false : "reveal"
    li.tab.sidebar.file-listing class=revealed data-sidebar-reveal=".sidebar.file-listing-container" disabled=build.nil?
      a href="#" title=I18n.t('navigation.runQueue')
        = I18n.t('navigation.runQueue')
        .arrow
        .arrow
        == svg(:ui, :"file-listing")

    li.tab class=(build.nil? ? "active" : "")
      a
        | New
    li.tab class=(build.nil? ? "" : "active") disabled=build.nil?
      a
        | Manifest
    li.tab disabled=build.nil?
      a
        | Log

    template
      li.file-tab.tab.filled role=:presentation data-tab-adjusted=true
        a href=object.url
          img src='/images/indicators/object.svg'
          img.hover src='/images/indicators/object.svg'
          img.active src='/images/indicators/object.svg'
          .label
            span.type
            span.name
          button.inline.delete
            | remove

    li.tab.sidebar.run-queue.reveal hidden=true data-sidebar-reveal='li.file-tab.tab-panel.active nav.sidebar[data-phase="run"]'
      a href="#" title=I18n.t('navigation.runQueue')
        = I18n.t('navigation.runQueue')
        .arrow
        .arrow
        == svg(:ui, :"run.small")

    li.tab.sidebar.build-queue.reveal data-sidebar-reveal='nav.sidebar[data-phase="build"]'
      a href="#" title=I18n.t('navigation.runQueue')
        = I18n.t('navigation.runQueue')
        .arrow
        .arrow
        == svg(:ui, :"build.small")

  .card.filled.container.flex
    - revealed = fileListingReveal ? false : "reveal"
    .sidebar.left.file-listing-container.loading.card.flex.filled class=revealed
      - if build && task
        == partial(:"objects/directory", :locals => {:object => object,
                                                     :build  => build})
      .pending.card.filled.loading.file-listing hidden=true
    == partial(:"objects/runner", :locals => {:viewerObject => object,
                                              :label        => I18n.t('objects.run.form.building.header'),
                                              :phase        => :build,
                                              :object       => object,
                                              :running      => true,
                                              :viewers      => [],
                                              :build        => build,
                                              :noBuildList => noBuildList,
                                              :help         => defined?(help) ? help : ""})
