table.associations.objects cellspacing="0"
  thead
    tr
      th
        | Type
      th
        | Subtype
      th
        | Objects
  tbody
    - person.associations(kind).each do |type, values|
      - index = 0
      - values.each do |subtype, associations|
        tr
          - if index == 0
            td rowspan=values.count
              = type
          - index += 1
          td
            = subtype
          td.objects
            .objects-container.table-row
              ul.associations.objects.filled.small.table-cell
                - associations.each_with_index do |info, index|
                  - subObject = info[:object]
                  li.object.small.table-cell-item
                    a href=(subObject.url) 
                      == svg(:objects, subObject.iconID)
                      p.type
                        = subObject.shortType
                      p.name
                        = subObject.info[:name]
                    form action=person.url(:path => "associations/#{kind}") method=:post
                      input type=:hidden value='delete' name=:_method 
                      input type=:hidden value=info[:object].id name=:object_id
                      input type=:hidden value=info[:object].revision name=:object_revision
                      input type=:hidden value=type name=:major
                      - if subtype != "*"
                        input type=:hidden value=subtype name=:minor
                      button.remove
                        == svg(:ui, :remove, :class => "icon")
                    - if index > 0
                      form action=person.url(:path => "associations/#{kind}") method=:post
                        input type=:hidden value=info[:object].id name=:object_id
                        input type=:hidden value=info[:object].revision name=:object_revision
                        input type=:hidden value=type name=:major
                        - if subtype != "*"
                          input type=:hidden value=subtype name=:minor
                        button.star
                          == svg(:ui, :"set-main", :class => "icon")
