- if !defined?("pagination")
  - pagination = nil

.card.flex.filled.objects.bookmarks
  == header(:id   => :output,
            :text => "Objects",
            :offscreen => true,
            :help => I18n.t('help.searchResults'))
  - if person.bookmarks.empty?
    .none.card.filled.flex.center-content
      == svg(:ui, :"no-bookmark", :class => "none-icon")
      p.filled
        = I18n.t("people.bookmarks.none")
  - else
    == partial(:"objects/listview", :locals => {:sidebarButton   => false,
                                                :sidebarRevealed => false,
                                                :objects         => person.bookmarks.take(20).map(&:target),
                                                :pagination      => pagination,
                                                :deleteURLs      => person.bookmarks.take(20).map{ |subObject| person.url(:path => "bookmarks/#{subObject.id}")}})
