- if not defined?(collaborations)
  - collaborations = []

.card.filled.min-height.collection.flex
  == header(:id        => :collection,
            :offscreen => true, 
            :text      => t('people.collection.header'),
            :reveal    => person.active.empty?,
            :help      => t('people.collection.help'))

  - if current_person and person.id == current_person.id
    ul.tabs.tab-bar.filled
      == svg(:ui, :create)
      a.button.modal href="/new"
        = I18n.t 'people.collection.bar.new'

  .objects-container.card.filled
    - if person.active.empty? and collaborations.empty?
      .none.card.filled.flex.center-content
        == svg(:ui, :"no-workset", :class => "none-icon")
        - if current_person and person.id == current_person.id
          p
            = I18n.t 'people.collection.none-you'
        - else
          p
            = I18n.t 'people.collection.none'
    ul.objects.detailed.list#worksets
      - person.active.map(&:target).each do |subObject|
        li.object.detailed
          a href=subObject.url(:short => true)
            == svg(:objects, subObject.iconID, :class => "icon")
            p.type
              = subObject.shortType
            p.name
              = subObject.info[:name]
          .description
            = subObject.summary[0...1000]
          .statistics
            ul
