table.associations.objects cellspacing="0"
  thead
    tr
      th
        | ID
      th
        | Format
      th
        | Created on
      th
        | Actions
  tbody
    - keys.each do |key|
      tr
        td
          = key[:key][:id]
        td
          = key[:key][:format]
        td
          = renderDateTime(key[:key][:published])
        td
