- if current_person && person.id == current_person.id
  .card
    h2
      = I18n.t 'people.keys.password.header'

    p
      a.modal.edit-password-link href='/people/#{current_person.identity.uri}/password'
        = I18n.t 'people.keys.password.update'

.card.filled
  h2
    = I18n.t 'people.keys.publicKey.header'

  == partial(:"people/keys-table", :locals => {:keys => person.publicKeys()})

.card.filled
  h2
    = I18n.t 'people.keys.verifyKey.header'

  == partial(:"people/keys-table", :locals => {:keys => person.verifyKeys()})

.card.filled.flex
