- if request.xhr?
  / Modal view
  h1.edit-profile
    == svg(:ui, :edit, :class => "large-icon action edit-profile")
    .name id=((request.xhr? ? "modalLabel" : false)) 
      | Edit Profile
    .organization
      | Update your profile information, avatar image, and biography.
  .bar
- else
  == partial :"people/header", :locals => {:person => person}

== partial :errors, :locals => {:errors => errors}

form.card.filled.flex.transparent.modal action="/people/#{person.identity.uri}" method=:post name=:person_edit enctype="multipart/form-data" 
  .card.filled.flex.profile-editor
    ul.tabs.tab-bar
      li.edit.tab.active
        a.icon href="#general" 
          == svg(:ui, :"list-view")
          | General
    ul.tab-panels.flex.filled
      li.tab-panel.profile-editor.active.flex.filled
        .card.filled
          label for=:organization 
            | organization
          input type=:hidden name=:"nullify[organization]" value="on"
          input type=:text id=:organization name=:"data[organization]" value=current_person.info[:organization] 
          label for=:name 
            | display name
          input type=:text id=:name name=:"data[name]" value=current_person.info[:name] 
          label for=:email 
            | email
          input type=:hidden name=:"nullify[email]" value="on"
          input type=:text id=:email name=:"data[email]" value=current_person.info[:email] 
          label for=:description 
            | bio
          textarea id=:description name=:"data[description]"
            = current_person.info[:description]
          label for=:avatar 
            | upload avatar image
          input type=:file name=:avatar 
  .card.submit
    .submit
      input.button type=:submit value=I18n.t('common.update')
