/ Purpose: Displays a form to create a new person
/
/ Locals: errors - A collection of errors that are passed when the form
/                  is reloaded after a validation error. nil when no errors.

h1
  == svg(:ui, :login, :class => "large-icon signup")
  .name
    = I18n.t 'people.new.header'

.bar

form.center.modal action="/people" method=:post name=:people_new 
  == partial :errors, :locals => {:errors => errors}
  .card
    label for=:username 
      = I18n.t "people.new.fields.username"
    input.short type="text" id=:username name=:username 
    label for=:password 
      = I18n.t "people.new.fields.password"
    input.short type="password" id=:password name=:password autocomplete="off" 
  .card.submitting hidden=true
    .signup-animation
      p
        = I18n.t "people.new.pending"
      == partial(:loading)
  .card.filled
    .submit
      input#signup.button data-modal-check-errors=true type=:submit value=I18n.t('people.new.submit') name=:submit 
