/ Purpose: Displays the profile for the specified person
/
/ Locals:  person        - The particular Person to view
/          experiments    - The experiments this person owns
/          collaborations - The worksets this person is collaborating upon
/          worksets       - The worksets this person owns
/          jobs           - Running jobs this person owns

- content_for :title do
  = person.info[:name]

== partial :"people/header", :locals => {:person => person}

== partial :errors, :locals => {:errors => errors}

ul.card-tabs.tabs data-panels="people-panels" data-push-navigation=true data-append-title=true data-replace-navigation=true
  - tab_index = 0
  - active = ((tab.nil? && tab_index == 0) || tab == "profile")
  li.card-tab.tab role=:presentation class=(active ? 'active' : '')
    - tab_index += 1
    a id="tab-#{tab_index}" role=:tab aria-controls="tab-panel-#{tab_index}" aria-selected=active.to_s href="/people/#{person.identity.uri}/profile" data-pjax=(active ? "complete" : "true")
      = I18n.t 'people.profile.header'
      - active = ((tab.nil? && tab_index == 0) || tab == "memberships")
  - active = ((tab.nil? && tab_index == 0) || tab == "collection")
  li.card-tab.tab role=:presentation class=(active ? 'active' : '')
    - tab_index += 1
    a id="tab-#{tab_index}" role=:tab aria-controls="tab-panel-#{tab_index}" aria-selected=active.to_s href="/people/#{person.identity.uri}/collection" data-pjax=(active ? "complete" : "true")
      = I18n.t 'people.collection.header'
      - active = ((tab.nil? && tab_index == 0) || tab == "memberships")
  / li.card-tab.tab role=:presentation class=(active ? 'active' : '')
    - tab_index += 1
    a id="tab-#{tab_index}" role=:tab aria-controls="tab-panel-#{tab_index}" aria-selected=active.to_s href="/people/#{person.identity.uri}/memberships" data-pjax=(active ? "complete" : "true")
      = I18n.t 'tabs.memberships'
  - if current_person and current_person.id == person.id
    - active = ((tab.nil? && tab_index == 0) || tab == "bookmarks")
    li.card-tab.tab role=:presentation class=(active ? 'active' : '')
      - tab_index += 1
      a id="tab-#{tab_index}" role=:tab aria-controls="tab-panel-#{tab_index}" aria-selected=active.to_s href="/people/#{current_person.identity.uri}/bookmarks" data-pjax=(active ? "complete" : "true")
        = I18n.t 'people.bookmarks.header'
    /%li.card-tab.tab{:class => ((tab.nil? && tab_index == 0) || tab == "import") ? 'active' : ''}
      - tab_index += 1
      a href="/people/#{current_person.identity.uri}/import"
        = I18n.t 'tabs.import'
    /
      - active = ((tab.nil? && tab_index == 0) || tab == "jobs")
      li.card-tab.tab role=:presentation class=(active ? 'active' : '')
        a id="tab-#{tab_index}" role=:tab aria-controls="tab-panel-#{tab_index}" aria-selected=active.to_s href="/people/#{current_person.identity.uri}/jobs" data-pjax=(active ? "complete" : "true")
          = I18n.t 'tabs.jobs'
      - active = ((tab.nil? && tab_index == 0) || tab == "storage")
      li.card-tab.tab role=:presentation class=(active ? 'active' : '')
        a id="tab-#{tab_index}" role=:tab aria-controls="tab-panel-#{tab_index}" aria-selected=active.to_s href="/people/#{current_person.identity.uri}/storage" data-pjax=(active ? "complete" : "true")
          = I18n.t 'tabs.storage'
    - active = ((tab.nil? && tab_index == 0) || tab == "associations")
    li.card-tab.tab role=:presentation class=(active ? 'active' : '')
      - tab_index += 1
      a id="tab-#{tab_index}" role=:tab aria-controls="tab-panel-#{tab_index}" aria-selected=active.to_s href="/people/#{current_person.identity.uri}/associations" data-pjax=(active ? "complete" : "true")
        = I18n.t 'people.associations.header'
    /%li.card-tab.tab
      a href="#"
        | Deployment Resources
  - active = ((tab.nil? && tab_index == 0) || tab == "keys")
  li.card-tab.tab role=:presentation class=(active ? 'active' : '')
    a id="tab-#{tab_index}" role=:tab aria-controls="tab-panel-#{tab_index}" aria-selected=active.to_s href="/people/#{person.identity.uri}/keys" data-pjax=(active ? "complete" : "true")
      = I18n.t 'people.keys.header'

  li.card-layout.dropdown-menu role=:presentation aria-hidden=:true hidden=true
    button.dropdown role=:presentation aria-hidden=:true
      img src='/images/dynamic/hex/fff/icons/ui/object-actions.svg'
      img.hover src='/images/dynamic/hex/fff/icons/ui/object-actions.svg'
    ul.dropdown-menu-options.options

.container
  ul.tab-panels.filled#people-panels
    - tab_index = 0
    - active = ((tab.nil? && tab_index == 0) || tab == "profile")
    li.tab-panel id="tab-panel-#{tab_index}" class=(((tab.nil? && tab_index == 0) || tab == "profile") ? 'active' : '')
      - if active
        == partial(:"people/profile", :locals => locals)
      - else
        .card.loading
      - tab_index += 1

    - active = ((tab.nil? && tab_index == 0) || tab == "collection")
    li.tab-panel id="tab-panel-#{tab_index}" class=(((tab.nil? && tab_index == 0) || tab == "collection") ? 'active' : '')
      - if active
        == partial(:"people/collection", :locals => locals)
      - else
        .card.loading
      - tab_index += 1

    / - active = ((tab.nil? && tab_index == 0) || tab == "memberships")
      li.tab-panel id="tab-panel-#{tab_index}" role=:tabpanel aria-hidden=(!active).to_s aria-labelledby="tab-#{tab_index}" class=(active ? 'active' : '')
        - if active
          == partial(:"people/memberships", :locals => {:person => person})
        - else
          .card
            .loading
        - tab_index += 1

    - if current_person and current_person.id == person.id
      - active = ((tab.nil? && tab_index == 0) || tab == "bookmarks")
      li.tab-panel id="tab-panel-#{tab_index}" role=:tabpanel aria-hidden=(!active).to_s aria-labelledby="tab-#{tab_index}" class=(active ? 'active' : '')
        - if active
          == partial(:"people/bookmarks", :locals => {:person => person})
        - else
          .card.loading
        - tab_index += 1

      /
        - active = ((tab.nil? && tab_index == 0) || tab == "jobs")
        li.tab-panel id="tab-panel-#{tab_index}" role=:tabpanel aria-hidden=(!active).to_s aria-labelledby="tab-#{tab_index}" class=(active ? 'active' : '')
          - if active
            == partial(:"people/jobs", :locals => locals)
          - else
            .card
              .loading
          - tab_index += 1

        - active = ((tab.nil? && tab_index == 0) || tab == "storage")
        li.tab-panel id="tab-panel-#{tab_index}" role=:tabpanel aria-hidden=(!active).to_s aria-labelledby="tab-#{tab_index}" class=(active ? 'active' : '')
          - if active
            == partial(:"people/storage", :locals => locals)
          - else
            .card.loading
          - tab_index += 1

      - active = ((tab.nil? && tab_index == 0) || tab == "associations")
      li.tab-panel id="tab-panel-#{tab_index}" role=:tabpanel aria-hidden=(!active).to_s aria-labelledby="tab-#{tab_index}" class=(active ? 'active' : '')
        - if active
          == partial(:"people/associations", :locals => {:person => person})
        - else
          .card.loading
        - tab_index += 1

    - active = ((tab.nil? && tab_index == 0) || tab == "keys")
    li.tab-panel id="tab-panel-#{tab_index}" role=:tabpanel aria-hidden=(!active).to_s aria-labelledby="tab-#{tab_index}" class=(active ? 'active' : '')
      - if active
        == partial(:"people/keys", :locals => locals)
      - else
        .card.loading
      - tab_index += 1
