/ This is the details panel that lists the different types this object can view.

/ Locals:
/   object  - The Occam::Object being rendered
/   section - The section of the metadata to look at (:views, :edits)
/   kind    - The type of association ("viewer", "editor")

- views = object.info[section]
- if views && !views.is_a?(Array)
  - views = [views]

- if views
  .card.filled.views
    h2
      = I18n.t "subheaders.#{section}"

    .objects-container
      ul.objects.small.views
        - views.each do |info|
          li.object
            a href=Occam::Object.searchURLFor("", :type => info[:type], :subtype => info[:subtype])
              img src=Occam::Object.iconURLFor(info[:type], :subtype => info[:subtype])
              p.type
                = info[:type]
              - if info[:subtype]
                p.subtype
                  = info[:subtype]
            - if current_person
              form method=:post action=current_person.url(:path => "associations/#{kind}")
                input type=:hidden value=object.id name=:object_id
                input type=:hidden value=object.revision name=:object_revision
                input type=:hidden value=info[:type] name=:major
                - if info[:subtype]
                  input type=:hidden value=info[:subtype] name=:minor
                button.add title=I18n.t('tooltips.associate')
                  = I18n.t 'common.associate'
