/ Renders the filesystem data of the object
/
/ This is the files that are linked or copied into the VM from the object data.
/
/ Locals:
/   object - The Occam::Object being rendered


- if object.info[:type] != "experiment" && (object.info[:init] || object.canEdit?)
  .card.filled.metadata-installation
    == header(:text => I18n.t('objects.metadata.installation.header'),
              :help => I18n.t('objects.metadata.installation.help'),
              :id   => :installation)

    - actions = {:link => ((object.info[:init] || {})[:link] || []),
                 :copy => ((object.info[:init] || {})[:copy] || [])}

    div.metadata-installation-links-container
      table.metadata-installation-links
        thead
          tr
            - if object.canEdit?
              th.empty
              th.empty
            th
              = I18n.t("objects.metadata.installation.fields.action")
            th
              = I18n.t("objects.metadata.installation.fields.source")
            th
              = I18n.t("objects.metadata.installation.fields.to")
            th
              = I18n.t("objects.metadata.installation.fields.summary")
        tbody
          - actions.each do |action, items|
            - items.each_with_index do |info, i|
              tr.metadata-installation-link
                - if object.canEdit?
                  td.metadata-installation-link-delete
                    form action=object.url(:path => "files/object.json") method=:post
                      input type=:hidden name=:referrer value="metadata"
                      input type=:hidden name=:"nullify[init.#{action}(#{i})]" value="on"
                      input type=:hidden name=:"data[init.#{action}(#{i})]" value=""
                      button.delete value="delete"
                  td.metadata-installation-link-edit
                    a.edit.modal href=object.url(:path => "/metadata/init/#{action}/#{i}/edit")
                td.metadata-installation-link-action
                  = I18n.t("objects.metadata.installation.actions.#{action}")
                td.metadata-installation-link-source
                  = info[:source]
                td.metadata-installation-link-to
                  = info[:to]
                td.metadata-installation-link-summary
                  - if info[:summary]
                    = info[:summary]
                  - else
                    p.none
                      = I18n.t('objects.metadata.installation.noSummary')
          tr.metadata-installation-empty
            td colspan=999
              p.none
                = I18n.t('objects.metadata.installation.none')

    - if object.canEdit?
      a.add.modal href=object.url(:path => "/metadata/init/link/new")
        == svg(:ui, :create, :class => "icon")
