/ Renders a set of resource links in a resources panel

/ Locals:
/   objects - The set of resources to render

- (objects || []).each_with_index do |subObject, i|
  li.object
    - if subObject[:type] == "resource"
      - subObject[:type] = subObject[:subtype]
      - subObject[:type] = subObject[:subtype].split('/')[0] if subObject[:subtype].include?('/')
    - if subObject[:id]
      - subObject = Occam::Object.new(:account => object.account, **subObject, :info => subObject)
      a href=subObject.url
        p.relation
          = subObject.info[:to]
        == svg(:objects, subObject.iconID, :class => "icon")
        p.type
          = subObject.shortType
        p.name
          = subObject.info[:name]
        p.source
          = subObject.info[:source]
        p.id aria-hidden="true" hidden=true
          = subObject.info[:id]
        - if subObject.info[:uid]
          p.uid aria-hidden="true" hidden=true
            = subObject.info[:uid]
        - if subObject.info[:revision]
          p.revision aria-hidden="true" hidden=true
            = subObject.info[:revision]
      - if subObject.info[:type] == "git"
        a.copy href="#" alt=I18n.t('tooltips.copy') title=I18n.t('tooltips.copy') data-url=subObject.url data-copied-tooltip=I18n.t('tooltips.copied') data-tooltip-allow-click=true
          = I18n.t 'common.copy'
          == svg(:ui, :copy, :class => "icon")
      - else
        a.download href=(subObject.url(:path => "data?as=#{subObject.info[:to]}")) alt=I18n.t('common.download') title=I18n.t('common.download')
          = I18n.t 'common.download'
          == svg(:ui, :download, :class => "icon")
    - else
      a
        p.relation
          = subObject[:to]
        == svg(:objects, Occam::Object.iconIDFor(subObject[:type], :subtype => subObject[:subtype]), :class => "icon")
        p.type
          = Occam::Object.shortTypeFor(subObject[:type], :subtype => subObject[:subtype])
        p.name
          = subObject[:name]
        p.source
          = subObject[:source]
    - if object.canEdit?
      form action=removeURL method=:post
        - if referrerURL
          input type=:hidden name=:referrer value=referrerURL
        - if removeKey
          input type=:hidden name=:"nullify[#{removeKey}(#{i})]" value="on"
          input type=:hidden name=:"data[#{removeKey}(#{i})]" value=""
        button.remove
          == svg(:ui, :remove, :class => "icon")
  - if subObject.is_a?(Occam::Object) && subObject.info.has_key?(:install)
    == partial(:"objects/resource", :locals => {:object  => object,
                                                :objects => subObject.info[:install]})
