/ Renders a set of resource links in a resources panel

/ Locals:
/   object  - The Occam::Object being rendered.
/   objects - The metadata for each resource.

- if !defined?(addURL)
  - addURL = nil

- if !defined?(addModal)
  - addModal = false

- if !defined?(removeURL)
  - removeURL = nil

- if !defined?(removeKey)
  - removeKey = nil

- if !defined?(referrerURL)
  - referrerURL = nil

.objects-container
  ul.objects.perfect-scrollbar id=(removeKey ? "resource-list-#{removeKey}" : false)
    template.resource
      li.object
        a
          p.relation
          img.icon
          p.type
          p.name
          p.source
        a.copy href="#" alt=I18n.t('tooltips.copy') title=I18n.t('tooltips.copy') data-url="#" data-copied-tooltip=I18n.t('tooltips.copied') data-tooltip-allow-click=true
          = I18n.t 'common.copy'
          == svg(:ui, :copy, :class => "icon")
        a.download alt=I18n.t('common.download') title=I18n.t('common.download')
          = I18n.t 'common.download'
          == svg(:ui, :download, :class => "icon")
        - if object.canEdit?
          form action=removeURL method=:post
            - if referrerURL
              input type=:hidden name=:referrer value=referrerURL
            - if removeKey
              input type=:hidden name=:"nullify[#{removeKey}(i)]" value="on"
              input type=:hidden name=:"data[#{removeKey}(i)]" value=""
            button.remove
              == svg(:ui, :remove, :class => "icon")
    == partial(:"objects/metadata/resource", :locals => {:object      => object,
                                                         :objects     => objects,
                                                         :referrerURL => referrerURL,
                                                         :removeKey   => removeKey,
                                                         :removeURL   => removeURL})

    - if addURL && object.canEdit?
      li.object.empty.stuck
        a.empty disabled=true
          == svg(:ui, :create, :class => "icon")
          p.name
            | None
        a.add href=addURL class=(addModal ? "modal" : "") data-modal-large=(addModal == :large) data-modal-resource-list=(removeKey ? "resource-list-#{removeKey}" : false)
          == svg(:ui, :create, :class => "icon")
