/ This is the details panel that lists the different services this object
/ provides.

/ Locals:
/   object  - The Occam::Object being rendered

- if object.info[:services]
  .card.filled.services
    h2
      = I18n.t "subheaders.services"

    .objects-container
      ul.objects.small.services
        - object.info[:services].each do |key, info|
          li.object
            a
              p.type
                = key
            - if current_person
              form method=:post action=current_person.url(:path => "associations/service")
                input type=:hidden value=object.id name=:object_id
                input type=:hidden value=object.revision name=:object_revision
                input type=:hidden value=:service name=:major
                input type=:hidden value=key name=:minor
                button.add title=I18n.t('tooltips.associate')
                  = I18n.t 'common.associate'
