- if !defined?(name)
  - name = ""

- if !defined?(type)
  - type = ""

- if !defined?(id)
  - id = ""

- if !defined?(uid)
  - uid = ""

- if !defined?(key)
  - key = "dependencies"

h1.new-dependency
  == svg(:ui, :create, :class => "large-icon action new-dependency")
  .name id=((request.xhr? ? "modalLabel" : false)) 
    | New Dependency
  .organization
    | Add an object as a dependency.
.bar

== partial :errors, {:locals => {:errors => errors}}

- tabs_id = "new-dependency-panes"
- if request.xhr?
  - tabs_id = "modal-#{tabs_id}"

.card.filled.flex.new-dependency.results.objects.transparent
  ul.tabs.tab-bar data-panels=tabs_id
    li.sidebar.tab data-sidebar-reveal=".search.sidebar"
      a.facets href="#" title=I18n.t('navigation.showSidebar') alt=I18n.t('navigation.showSidebar')
        = I18n.t('navigation.showSidebar')
        .arrow
        .arrow
        .arrow
        == svg(:ui, :facets)
    li.edit.tab.active
      a.icon href="#search" 
        == svg(:ui, :search)
        | Search
    li.edit.tab.metadata
      a.icon href="#edit" 
        == svg(:ui, :edit)
        | Metadata
  .card.results-panes-container.transparent.container.flex.filled
    - data = {}
    - objects = []
    - if !request.xhr?
      - data = Occam::Object.fullSearch(:name => "",
                                        :excludeTypes => ["task"],
                                        :account => current_account)
      - objects = data[:objects]
    == partial(:"objects/listview/sidebar", :locals => {:sidebarRevealed => true,
                                                        :query           => "",
                                                        :data            => data,
                                                        :objects         => objects})
    form.card.transparent.filled.flex.modal#new-dependency action=(object.url(:path => "files/object.json")) method=:post
      ul.tab-panels.flex.filled id=tabs_id
        li.tab-panel.object-search.active.flex.filled
          .card.filled.full.search-results-preview-container class=(request.xhr? ? "loading" : "")
            - if objects.any?
              == partial(:"objects/listview/preview", :locals => {:objects => objects})
        li.tab-panel.metadata.flex.filled
          .card.filled.full
            .objects-container
              ul.objects
                li.object.empty
                  a.empty disabled=true
                    img.icon src=imageURL("icons/ui/create.svg", :hex => "dddddd")
                    p.type
                      | Select
                    p.name
                      | an object

            label for=:"add-dependency-version"
              | Version
            input#add-dependency-version type=:text name=:"data[#{key}()][version]" value=""

            label for=:"add-dependency-summary"
              | Summary
            input#add-dependency-summary type=:text name=:"data[#{key}()][summary]" value=""
          .card
            .submit
              input type=:hidden name=:referrer value="metadata" 
              input type=:hidden name=:message value="Adds {type} {name} as a dependency."
              input#add-dependency-type type=:hidden name=:"data[#{key}()][type]" value=type
              input#add-dependency-name type=:hidden name=:"data[#{key}()][name]" value=name
              input#add-dependency-id type=:hidden name=:"data[#{key}()][id]"   value=id
              input#add-dependency-uid type=:hidden name=:"data[#{key}()][uid]"  value=uid
              input#add-dependency-submit.button type="submit" value=I18n.t('objects.metadata.new-dependency.submit') name=:submit disabled=(id == "" || id.nil?)
