- if !defined?(value) || value.nil?
  - value = {}

- if !defined?(name)
  - name = value[:name] || ""

- if !defined?(type)
  - type = value[:type] || ""

- if !defined?(summary)
  - summary = value[:summary] || ""

- if !defined?(index)
  - index = ""

- prefix = "data[#{key}(#{index})]"

h1.new-#{section}
  == svg(:ui, :create, :class => "large-icon action new-io")
  .name id=((request.xhr? ? "modalLabel" : false)) 
    | New #{section}
  .organization
    | Add an object as an #{section}.
.bar

== partial :errors, {:locals => {:errors => errors}}

- tabs_id = "new-io-panes"
- if request.xhr?
  - tabs_id = "modal-#{tabs_id}"

form.card.transparent.filled.flex.modal#new-io action=(object.url(:path => "files/object.json")) method=:post
  .card.filled.flex.new-io.objects.transparent
    ul.tabs.tab-bar data-panels=tabs_id
      li.edit.tab.active
        a.icon href="#general" 
          == svg(:ui, :"list-view");
          | General
    ul.tab-panels.flex.filled id=tabs_id
      li.tab-panel.metadata.flex.filled.active
        .card.filled.full
          label for=:"add-io-name"
            | Name
          input#add-io-name type=:text name=:"#{prefix}[name]" value=name

          label for=:"add-io-type"
            | Type
          input#add-io-type type=:text name=:"#{prefix}[type]" value=type

          label for=:"add-io-summary"
            | Summary
          input#add-io-summary type=:text name=:"#{prefix}[summary]" value=summary
  .card
    .submit
      input type=:hidden name=:referrer value="metadata" 
      input type=:hidden name=:message value="Adds {type} {name} as an #{section}."
      input#add-io-submit.button type="submit" value=I18n.t('objects.metadata.new-dependency.submit')
