- if !defined?(value) || value.nil?
  - value = {}

- if !defined?(source)
  - source = value[:source] || ""

- if !defined?(destination)
  - destination = value[:to] || ""

- if !defined?(summary)
  - summary = value[:summary] || ""

- if !defined?(action)
  - action = nil

- if !defined?(index)
  - index = ""

- prefix = "data[#{key}(#{index})]"

h1.new-installation
  == svg(:ui, :create, :class => "large-icon action new-installation")
  .name id=((request.xhr? ? "modalLabel" : false)) 
    | New Installation
  .organization
    | Add an object as an installation.
.bar

== partial :errors, {:locals => {:errors => errors}}

- tabs_id = "new-io-panes"
- if request.xhr?
  - tabs_id = "modal-#{tabs_id}"

form.card.transparent.filled.flex.modal#new-installation action=(object.url(:path => "files/object.json")) method=:post
  .card.filled.flex.new-io.objects.transparent
    ul.tabs.tab-bar data-panels=tabs_id
      li.edit.tab.active
        a.icon href="#general" 
          == svg(:ui, :"list-view");
          | General
    ul.tab-panels.flex.filled id=tabs_id
      li.tab-panel.metadata.flex.filled.active
        .card.filled.full
          - if action.nil?
            label for=:"add-installation-action"
              = I18n.t('objects.metadata.installation.fields.action')
            select#add-installation-action.selector name=:"rewrite[__action__]"
              option data-i18n=I18n.t('objects.metadata.installation.actions.link')
                | link
              option data-i18n=I18n.t('objects.metadata.installation.actions.copy')
                | copy

          label for=:"add-installation-source"
            = I18n.t('objects.metadata.installation.fields.source')
          input#add-installation-source type=:text name=:"#{prefix}[source]" value=source

          label for=:"add-installation-to"
            = I18n.t('objects.metadata.installation.fields.to')
          input#add-installation-to type=:text name=:"#{prefix}[to]" value=destination

          label for=:"add-installation-summary"
            = I18n.t('objects.metadata.installation.fields.summary')
          input#add-installation-summary type=:text name=:"#{prefix}[summary]" value=summary
  .card
    .submit
      input type=:hidden name=:referrer value="metadata" 
      input type=:hidden name=:message value="Adds {source} {to} as an installation: {summary}."
      input#add-installation-submit.button type="submit" value=I18n.t('objects.metadata.installation.submit')
