h1.documentation
  == svg(:objects, :documentation, :class => "large-icon documentation")
  .name
    | Documentation
  .organization
    | Guides and Information About Using Occam
.bar

- panels = Occam::Documentation.list

ul.card-tabs.tabs role=:tablist data-panels="documentation-panels" data-replace-navigation=!request.xhr? data-push-navigation=!request.xhr? data-append-title=!request.xhr?
  li.tab.sidebar data-sidebar-reveal="li.tab-panel.active .toc.sidebar" 
    a.toc href="#" title=I18n.t('documentation.toc')
      = I18n.t 'documentation.toc'
      .arrow
      .arrow
      == svg(:ui, :"list-view")
  - panels.each_with_index do |tag, i|
    - active = (current_layout.tab.nil? && i == 0) || (current_layout.tab || "").intern == tag
    li.tab class=(active ? "active" : "") role=:presentation
      a href="/documentation/#{tag}" role=:tab data-pjax=(active ? "complete" : "true") aria-controls="documentation-tab-panel-#{tag}" aria-selected=active.to_s
        = Occam::Documentation.load(tag).name

.container
  ul.tab-panels#documentation-panels
    - panels.each_with_index do |tag, i|
      - active = (current_layout.tab.nil? && i == 0) || (current_layout.tab || "").intern == tag
      li.tab-panel id="documentation-tab-panel-#{tag}" class=((active ? "active": ""))
        - if active
          == partial(:"documentation/section", :locals => {:tag => tag})
        - else
          .card.filled.loading

== partial(:footer)
