/**
 * Styling for forms and inputs throughout the site.
 */

a.edit,
button.edit {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-image: url('/images/dynamic/hex/fff/icons/ui/edit.svg');
  background-repeat: no-repeat;
  background-size: 0.75rem;
  background-position: 50% 50%;
  display: block;
  overflow: hidden;
  cursor: pointer;
  padding: 0;
  margin: 0;
  text-indent: -9999px;
  border: none;
  background-color: #96cfdb;

  // TODO: put this in the theme.
  &:hover {
    background-color: #2da0b7;
  }
}

form {
  // For form elements that are intended to contain inline elements.
  // For instance, a form for a dropdown list button.
  &.inline {
    display: inline-block;
  }

  .card.submitting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > * {
      width: 100%;
    }
  }

  button.delete {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-image: url('/images/dynamic/hex/fff/icons/ui/remove.svg');
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: 50% 50%;
    display: block;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
    margin: 0;
    text-indent: -9999px;
    border: none;
    background-color: #ffc4c4;

    // TODO: put this in the theme.
    &:hover {
      background-color: #ffa1a1;
    }
  }

  // For form elements meant to be displayed as a group.
  &.modal {
    label {
      &:not(:first-child) {
        margin-top: 1rem;
      }

      &:not(.checkbox) {
        font: $form-label-font;
        margin-bottom: 0.5rem;
        display: block;
        color: hsl(190, 30%, 35%);

        &:first-child {
          padding-top: 0.5rem;
        }
      }
    }

    input[type=checkbox]:first-child + label {
      margin-top: 0;
    }

    input.button,
    a.button {
      &:last-child {
        margin-bottom: 1rem;
      }
    }

    select + h2,
    a.button + h2,
    input.button + h2,
    input[type=password] + h2,
    input[type=file] + h2,
    .tagify.tags + h2,
    input[type=text]:not(.auto-complete) + h2 {
      margin-top: 1rem;
    }

    // Typical input fields
    select,
    .selector,
    input[type=password],
    input[type=file],
    .tagify.tags,
    input[type=text]:not(.auto-complete) {
      text-align: left;
      width: 32rem;
      margin: 0 auto;
      max-width: calc(100% - 2rem);
      font: $form-input-font;
      box-sizing: border-box;
      border: 1px solid #aaa;
      padding: 0;

      &:not(.tagify) {
        height: 2rem;
        padding: 0.25rem;
      }

      // Shorter fields
      &.short {
        width: 16rem;
      }

      &:last-child {
        margin-bottom: 1rem;
      }
    }

    // Text areas
    textarea {
      width: 32rem;
      height: 28rem;
      resize: none;
      max-width: calc(100% - 2rem);
      margin: 0 auto;

      &:last-child {
        margin-bottom: 1rem;
      }
    }
  }

  .card.errors {
    margin-top: 0.125rem;
  }
}

form:not(.inline) {
  input[type=submit] {
    min-width: 16rem;

    &.short {
      min-width: 6rem;
    }

    &:last-child {
      margin-bottom: 0.5rem;
    }
  }

  .submit {
    input[type=submit]:last-child {
      margin-bottom: 0.5rem;
    }
  }
}
