@charset "UTF-8";

$workflow-line-color: #e8b0e0;
$workflow-port-line-color: #a3d495;
$workflow-wire-highlight-color: #ff4be5;
$workflow-wire-hover-color: #ff4be5;
$workflow-port-wire-hover-color: darken($workflow-port-line-color, 20);
$workflow-selection-color: rgba(90, 181, 181, 0.33);
$workflow-selection-border-color: rgba(70, 161, 161, 0.33);
$workflow-wire-selected-node-highlight-color: #ff7eff;
$workflow-label-name-font: 300 14px Lato, sans-serif;
$workflow-label-type-font: bold 12px Lato, sans-serif;

$workflow-input-name-font: 300 12px Lato, sans-serif;
$workflow-input-type-font: bold 10px Lato, sans-serif;

$workflow-context-menu-font: 300 0.9rem "Lato", sans-serif;
$workflow-node-selected-border-color: $workflow-wire-hover-color;
$workflow-label-type-color: rgba(57, 130, 130, 1);
$workflow-label-name-color: rgba(30, 30, 30, 1);

$workflow-wire-selected-color: #ff7eff;
$workflow-accent-color: #f1d7ed;

$workflow-node-selected-border-color: $workflow-wire-hover-color;

$workflow-wire-node-color: #beeac4;
$workflow-wire-node-border-color: #9ed4a5;
$workflow-wire-node-accent-color: #add89d;

$workflow-wire-selected-node-color: #cefad4;
$workflow-wire-selected-node-border-color: #aee4b5;
$workflow-wire-selected-node-accent-color: #bde8ad;

$workflow-selection-color: rgba(90, 181, 181, 0.33);
$workflow-selection-border-color: rgba(70, 161, 161, 0.33);
$workflow-wire-selected-node-highlight-color: #ff7eff;

.workflow-widget-zone {
  width: 100%;
  height: 100%;

  ul.connections {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
}

.workflow-widget-zone,
.workflow-widget-js {
  padding: 0;
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Safari */
  -khtml-user-select: none;    /* Konqueror HTML */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */

  // Hidden elements need to stay hidden
  .hidden,
  [hidden] {
    display: none !important;
  }

  // SVG paths for wires
  svg {
    path {
      fill: $workflow-line-color;
      stroke: transparent;
      stroke-width: 10px;
      cursor: pointer;

      &:hover:not(.dummy) {
        fill: $workflow-wire-hover-color;
      }

      &.port {
        fill: $workflow-port-line-color;

        &:hover:not(.dummy) {
          fill: $workflow-port-wire-hover-color;
        }
      }

      &.selected {
        fill: hsla(0, 100%, 71%, 1);
        stroke: hsla(0, 100%, 81%, 1);
        stroke-width: 1px;
      }

      &.highlight {
        fill: $workflow-wire-highlight-color;
        stroke: $workflow-wire-highlight-color;
        stroke-width: 1px;
      }
    }
  }

  // Set the cursor while selecting nodes (left-click and drang)
  &.selecting {
    cursor: crosshair;
  }

  // Set the cursor while moving the workflow (right-click and drang)
  &.moving {
    cursor: move;
  }

  // Debug styles to highlight relevant elements
  > .selection,
  > .debug {
    display: block;
    position: absolute;
    background-color: $workflow-selection-color;
    z-index: 9999;
    border-radius: 5px;
    border: 1px solid $workflow-selection-border-color;
    cursor: crosshair;

    &.debug {
      background-color: rgba(256, 0, 0, 0.33);

      &.quadtree {
        background-color: rgba(256, 0, 256, 0.33);
      }
    }
  }

  // Contains the nodes themselves (not the wires)
  ul.connections {
    display: block;
    position: relative;
    list-style-type: none;

    @mixin button-style {
      display: none;
      border-radius: 10px;
      left: -25px;
      bottom: 0;
      width: 16px;
      height: 16px;
      position: absolute;
      border: 1px solid #ddd;
      z-index: 9999;
      background-color: #fff;
    }

    @mixin outer-button-style {
      @include button-style;

      box-shadow: 0 0 0 4px white;

      &:hover {
        border: 1px solid #bbb;
        background-color: opacify($workflow-selection-color, 1);

        > img:not(:last-of-type) {
          display: none;
        }

        > img.hover {
          display: block;
        }
      }
    }

    @mixin plus-button-style {
      &::before {
        content: "";
        width: 8px;
        height: 2px;
        left: 4px;
        top: 7px;
        position: absolute;
        background-color: #bbb;
      }

      &::after {
        content: "";
        width: 2px;
        height: 8px;
        left: 7px;
        top: 4px;
        position: absolute;
        background-color: #bbb;
      }

      &:hover {
        &::before {
          background-color: white;
        }

        &::after {
          background-color: white;
        }
      }
    }

    .port-add-button {
      @include outer-button-style;
      @include plus-button-style;

      bottom: initial;
      top: -25px;
    }

    .input-add-button {
      @include outer-button-style;
      @include plus-button-style;
    }

    .output-add-button {
      @include outer-button-style;
      @include plus-button-style;

      left: initial;
      right: -25px;
    }

    .delete-button {
      @include outer-button-style;
      @include plus-button-style;

      transform: rotate(45deg);
      left: calc(50% - 10px);
      top: -24px;

      &::after,
      &::before {
        background-color: hsla(0, 100%, 71%, 1);
      }

      &:hover {
        background-color: #fcc;
        box-shadow: 0 0 1px 1px white inset;
      }
    }

    .bottom-button {
      @include outer-button-style;

      top: calc(100% + 24px - 16px);

      &.one {
        &.of-one {
          left: calc(50% - 10px);
        }

        &.of-two {
          left: calc(35% - 10px);
        }

        &.of-three {
          left: calc(25% - 10px);
        }

        &.of-four {
          left: calc(14% - 10px);
        }
      }

      &.two {
        &.of-two {
          left: calc(65% - 10px);
        }

        &.of-three {
          left: calc(50% - 10px);
        }

        &.of-four {
          left: calc(38% - 10px);
        }
      }

      &.three {
        &.of-three {
          left: calc(75% - 10px);
        }

        &.of-four {
          left: calc(62% - 10px);
        }
      }

      &.four {
        &.of-four {
          left: calc(86% - 10px);
        }
      }

      img {
        padding: 2px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        &.hover {
          display: none;
        }
      }
    }

    .hide-wire-button {
      @include button-style;

      left: -10px;
      bottom: -9px;
    }

    .attach-button {
      @include button-style;

      left: -10px;
      bottom: -9px;
    }

    > li.connection {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      line-height: 1em;
      width: 90px;
      height: 82px;
      border: 1px solid #ddd;
      border-left-width: 3px;
      border-left-color: #bbb;
      border-right-width: 3px;
      border-right-color: #bbb;
      border-radius: 5px;
      z-index: 999;
      background-color: white;
      cursor: pointer;
      padding: 8px 5px;

      > svg,
      > .icon {
        width: 50px;
        background-size: 40px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        border: 1px solid transparent;
        height: 50px;
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        line-height: 1em;
        position: absolute;
        top: 8px;
        left: calc(50% - 26px);
        box-sizing: border-box;

        + .type {
          margin-top: 50px;
        }
      }

      > .icon {
        padding: 3px;

        &:not([src]) {
          display: none;

          + .type {
            margin-top: 0;
          }
        }
      }

      > span.name {
        display: inline-block;
        font: $workflow-label-name-font;
        width: 80px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1em;
        margin: 0 auto;

        &:empty {
          display: none;
        }
      }

      > span.type {
        display: inline-block;
        font: $workflow-label-type-font;
        line-height: 1em;
        width: 80px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 auto;

        &:empty {
          display: none;
        }
      }

      &.moving {
        z-index: 99999 !important;
        box-shadow: 0 0 10px 2px #ddd;
      }

      &.highlighted {
        box-shadow: 0 0 10px 2px $workflow-node-selected-border-color;
      }

      &.selected {
        border-color: $workflow-node-selected-border-color;
        box-shadow: 0 0 10px 2px #eee;
        z-index: 99999;
      }

      // "Hidden" nodes are displayed differently when they HAVE to be shown.
      // For instance, a hidden known may be shown when the wire is not hidden.
      // So we show just a smaller icon reflecting that the node is there... just
      // put aside a bit.
      &[data-visibility="hidden"] {
        width: 22px;
        height: 25px;
        border-radius: 50px;
        padding: 0;

        > svg,
        > .icon {
          width: 20px;
          height: 20px;
          top: 3px;
          left: 1px;
          position: absolute;
        }

        > span.name,
        > span.type {
          left: calc(50% - 40px);
          top: 30px;
          position: absolute;
          margin: 0;
        }

        > span.name {
          top: 47px;
        }

        > .bottom-button {
          display: none;
        }
      }

      // A node that is currently displaying job status.
      &.tracking-jobs:not(.ghost) {
        > .icon {
          padding: 12px;
        }

        > .icon:not([src]) {
          display: inline-block;
          opacity: 0;

          + .type {
            margin-top: 50px;
          }
        }

        svg {
          border-radius: 50%;
          border: 1px solid #d4d4d4;

          path {
            fill: #bbb;
          }

          @keyframes running-pulse {
            0% {
              fill: #c0c0ff;
            }

            100% {
              fill: #88f;
            }
          }

          path[data-job-status="finished"] {
            fill: #82d082;
          }

          path[data-job-status="started"] {
            fill: #88f;
            animation: 1s infinite alternate running-pulse;
          }

          path[data-job-status="failed"] {
            fill: #f88;
          }
        }
      }

      // The wire dropdown list
      > .wire-dropdown {
        background-color: white;
        border: 1px solid $workflow-selection-border-color;
        display: block;
        outline: none;
        padding: 0 0;
        text-align: center;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999999;
        max-height: 111px;
        overflow-y: auto;

        li {
          cursor: pointer;
          padding: 5px 10px;
          height: 27px;
          color: #333;

          &:hover {
            background-color: $workflow-selection-color;
            color: #333;
          }

          span {
            &.type {
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font: $workflow-input-type-font;
            }

            &.name {
              display: block;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              font: $workflow-input-name-font;
            }
          }
        }

        &:active {
          outline: none;
        }
      }

      // Inputs and outputs lists common properties
      > ol.inputs,
      > ol.outputs {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li.port > .label {
          > span.name {
            color: $workflow-label-name-color;
          }

          > span.type {
            color: $workflow-label-type-color;
          }

          &.revealed {
            display: inline-block !important;
          }
        }
      }

      // Setting common to all ports
      @mixin port-style {
        padding: 0;
        margin: 0;
        display: block;
        position: absolute;
        width: 100px;
        top: 0;

        > .label {
          pointer-events: none;
          display: inline-block;
          position: absolute;
          white-space: nowrap;
          z-index: 999;
          bottom: 3px;
        }

        > .label > .name {
          display: block;
          font: $workflow-input-name-font;
        }

        > .label > .type {
          display: block;
          font: $workflow-input-type-font;
        }

        > .label.truncated > .type {
          display: none;
        }

        &:not(.disconnected) {
          .hide-wire-button {
            display: none;
          }

          .attach-button {
            display: inline-block;
          }
        }

        &.disconnected:not(.drawing) {
          // The disconnected line!
          border-bottom: 1px solid $workflow-line-color;

          // The small circle used in the port peg
          &::before {
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 11px;
            background-color: $workflow-wire-node-color;
            border: 1px solid $workflow-wire-node-border-color;
            position: absolute;
            bottom: -5px;
          }

          // The large circle used in the port peg
          &::after {
            content: "";
            width: 12px;
            height: 12px;
            border-radius: 11px;
            border: 1px solid $workflow-wire-node-accent-color;
            background-color: transparent;
            position: absolute;
            bottom: -8px;
          }

          // The glow on the port peg when it is selected
          &.selected {
            .hide-wire-button {
              display: inline-block;
            }

            &::before {
              background-color: $workflow-wire-selected-node-color;
              border: 1px solid $workflow-wire-selected-node-border-color;
            }

            &::after {
              border: 1px solid $workflow-wire-selected-node-accent-color;
              box-shadow: 0 0 6px 0 $workflow-wire-selected-node-highlight-color;
            }
          }
        }
      }

      // Input (left-side) port settings
      ol.ports li.port.left {
        @include port-style;

        // Shift the port to the left of the node
        right: 103px;

        .hide-wire-button,
        .attach-button {
          right: -10px;
          left: auto;
        }

        > .label {
          text-align: right;
          right: 0;

          > .name,
          > .type {
            padding-right: 10px;
          }
        }

        &.disconnected {
          // The position of the small peg
          &::before {
            left: -14px;
          }

          // The position of the large peg
          &::after {
            left: -17px;
          }
        }
      }

      // Output (right-side) port settings
      ol.ports li.port.right {
        @include port-style;

        // Shift the port to the right of the node
        left: 103px;

        > .label {
          text-align: left;
          left: 0;

          > .name,
          > .type {
            padding-left: 10px;
          }
        }

        &.disconnected {
          // The position of the small peg
          &::before {
            right: -14px;
          }

          // The position of the large peg
          &::after {
            right: -17px;
          }
        }
      }

      // Top-side port settings
      ol.ports li.port.top {
        @include port-style;

        // Rotate the label

        // Shift the port to the top of the node
        top: auto;
        bottom: 101px;
        width: 0;
        height: 100px;

        > .label {
          text-align: left;
          left: -5px;
          right: auto;
          bottom: 7px;
          transform: rotate(-90deg);
          transform-origin: 0 100%;

          > .name,
          > .type {
            padding: 0;
          }
        }

        &.disconnected {
          // The disconnected line!
          border-right: 1px solid $workflow-line-color;
          border-bottom: none;

          // The position of the small peg
          &::before {
            top: -13px;
            left: -4px;
          }

          // The position of the large peg
          &::after {
            top: -16px;
            left: -7px;
          }
        }
      }

      // Bottom-side port settings
      ol.ports li.port.bottom {
        @include port-style;

        // Rotate the label

        // Shift the port to the top of the node
        top: 101px;
        bottom: auto;
        width: 0;
        height: 100px;

        .attach-button {
          left: -9px;
          bottom: auto;
          top: -10px;
        }

        > .label {
          text-align: right;
          left: auto;
          right: 5px;
          top: -18px;
          bottom: auto;
          transform: rotate(-90deg);
          transform-origin: 100% 100%;

          > .name,
          > .type {
            padding: 0;
          }
        }

        &.disconnected {
          // The disconnected line!
          border-right: 1px solid $workflow-line-color;
          border-bottom: none;

          // The position of the small peg
          &::before {
            bottom: -13px;
            left: -4px;
          }

          // The position of the large peg
          &::after {
            bottom: -16px;
            left: -7px;
          }
        }
      }

      ol.ports li.port li.connection {
        padding: 0;
        margin: 0;
        display: block;
        position: absolute;
        width: 1px;
        height: 1px;
        background-color: transparent;
        left: auto;
        top: auto;
        bottom: auto;
        right: auto;
        border: none;

        .delete-button {
          top: -9px;
          display: none;
          box-shadow: none;
        }

        &.selected {
          .delete-button {
            display: inline-block;
          }
        }
      }

      ol.ports li.port ol.connections {
        padding: 0;
        margin: 0;
      }

      ol.ports li.port.left ol.connections li.connection {
        right: 0;

        .delete-button {
          left: auto;
          right: -10px;
        }
      }

      ol.ports li.port.right ol.connections li.connection {
        left: 0;
      }

      ol.ports li.port.top ol.connections li.connection {
        bottom: 0;

        .delete-button {
          top: -8px;
        }
      }

      ol.ports li.port.bottom ol.connections li.connection {
        top: 0;

        .delete-button {
          top: -10px;
          left: calc(50% - 9px);
        }
      }

      ol.ports:not(.inputs):not(.outputs) li.port.disconnected {
        border-color: $workflow-port-line-color;
      }

      &[data-visibility="hidden"] ol.ports {
        li.port > .label {
          display: none;
        }

        li.port.left {
          right: 25px;
        }

        li.port.right {
          left: 25px;
        }
      }

      // A "ghost" node that is used when dragging things.
      &.ghost {
        width: 1px;
        height: 1px;
        position: absolute;
        padding: 0;
        margin: 0;
        border: none;
        background: none;
        outline: none;
        overflow: hidden;
        pointer-events: none;
      }

      &.dummy ol.ports li.port .attach-button {
        display: none !important;
      }

      &.viewing {
        z-index: 99999 !important;

        > div.port-add-button,
        > div.input-add-button,
        > div.output-add-button,
        > div.delete-button,
        > div.bottom-button {
          display: inline-block;
        }

        ol.ports {
          li.port {
            &:not(.disconnected) {
              .attach-button {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  // The "draggable" plane is the surface in which elements are selected and moved.
  ul.connections.draggable {
    margin: 0;
  }
}
