// Force 100% scaling for IE
html {
  font-size: 100%;
}

// IE is bad (IE9+ so the logo appears over the... background image??)
nav.topbar,
span.topbar.documentation {
  .logo {
    z-index: 2147483647;
  }
}

// Object-fit polyfill requirements
body .content .index .nav-section > nav.facets {
  > ul.facets.navigation {
    li.facet.navigation {
      a {
        img {
          font-family: 'object-fit: contain;';
        }
      }
    }
  }
}

.run-viewer {
  .run-form {
    > .image {
      img {
        font-family: 'object-fit: cover;';
      }
    }
  }
}

// Force height for IE since it fails at flex with max-height on container
.modal-window {
  .content {
    & > .card.filled {
      max-height: 35vh;
    }
  }
}

.top-details {
  .card.gallery {
    > .flexbox {
      > ul.preview {
        > li.preview {
          img {
            font-family: 'object-fit: contain; object-position: center;';
          }
        }
      }
    }
  }
}

// Force height for IE since it fails at flexbox
.details,
.top-details {
  .description {
    height: 600px;
  }
}

// Force height for IE since it fails at flexbox
.top-details {
  .card.gallery {
    > .flexbox {
      height: 600px;
    }
  }
}

// Kinda fixes IE issues
.file-listing-container {
  .file-listing-table {
    table.file-listing {
      td.truncate {
        > *:first-child {
          left: auto;
          right: auto;
          top: auto;
          bottom: auto;
        }
      }
    }
  }
}
