h1.error-404
  img.large-icon.search src=imageURL("icons/error.svg", :hex => current_theme.hexColorFor("header.general.icon"))
  .name
    = I18n.t('objects.notFound.header')
.bar

.card.flex.filled.object-locator.center-content
  .globe
    == embed_svg("data/globe.svg", :id => "globe", :width => 500, :height => 500)
  .card.searching.loading
    h2
      | Searching
    img.error.icon src="/images/dynamic/hex/#{current_theme.hexColorFor('base.error.color')}/icons/ui/remove.svg"
    
  p.filled

== partial(:footer)
