.card.filled
  - if object.canEdit? && object.status[:tokens]
    == header(:id   => :accessLinks,
              :text => I18n.t('subheaders.accessLinks'),
              :help => I18n.t('help.accessLinks'))

    .objects-container
      ul.objects.access-links
        li.object.read-only
          a.read-only-link href=object.url(:full => true, :query=>{:token => object.status[:tokens][:readOnly]})
            == svg(:metadata, :"readonly-url", :class => "icon")
            p.name
              = I18n.t('subsubheaders.access.readOnly')
          a.copy href=object.url(:full => true, :query=>{:token => object.status[:tokens][:readOnly]}) alt=I18n.t('tooltips.copy') title=I18n.t('tooltips.copy') data-url=object.url(:full => true, :query=>{:token => object.status[:tokens][:readOnly]}) data-copied-tooltip=I18n.t('tooltips.copied') data-tooltip-allow-click=true
            = I18n.t 'common.copy'
            == svg(:ui, :copy, :class => "icon")
        li.object.read-only
          a.anonymous-link href=object.url(:full => true, :query=>{:token => object.status[:tokens][:"anonymous"]})
            == svg(:metadata, :"anonymous-url", :class => "icon")
            p.name
              = I18n.t('subsubheaders.access.anonymous')
          a.copy href=object.url(:full => true, :query=>{:token => object.status[:tokens][:"anonymous"]}) alt=I18n.t('tooltips.copy') title=I18n.t('tooltips.copy') data-url=object.url(:full => true, :query=>{:token => object.status[:tokens][:"anonymous"]}) data-copied-tooltip=I18n.t('tooltips.copied') data-tooltip-allow-click=true
            = I18n.t 'common.copy'
            == svg(:ui, :copy, :class => "icon")

  - [:object, :children].each do |section|
    - if section == :object
      == header(:id   => :permissions,
                :text => I18n.t('subheaders.permissions'))
    - else
      == header(:id   => :"child-permissions",
                :text => I18n.t('subheaders.childPermissions'))

    ul.permissions.centered
      - object.permissions[section].each do |access|
        == partial(:"objects/permissions/row", :locals => {:section => section,
                                                           :object  => object,
                                                           :access  => access})
    .add.centered
      .warning hidden=true 
        .person-already-exists
          = I18n.t('subsubheaders.access.warnings.personExists')
        .delete
      .loading hidden=true 
      / The form to add a new person (which is generally hidden)
      form.inline action=object.url(:path => "permissions", :full=>true) method=:post hidden=(!(params["add"] == section.to_s)) 
        input.auto-complete autocomplete="off" data-object-type="person" value="" placeholder=I18n.t('fields.placeholders.username') name="person"
        input type=:hidden value=section name=:section
        input.button type=:submit disabled=true value=I18n.t('common.add') name=:submit
      - if params["add"] != section.to_s
        a.add-person href=object.url(:path => "access", :query=>{:add => section})
          = I18n.t('common.add')
.card.filled
