ul.configurations.tabs.tab-bar
  - configuration_index = 0
  - inner_tab_count = 0
  - (object.info[:inputs] || []).each do |input|
    - if input[:type] == "configuration"
      - inner_tab_count += 1
      li.configuration.tab class=((inner_tab_count == 1 ? "active": "")) 
        a
          = input[:name]
.tab-panels.configurations.card.flex.filled
  - configuration_index = 0
  - inner_tab_count = 0
  - (object.info[:inputs] || []).each_with_index do |input, input_index|
    - if input[:type] == "configuration"
      - inner_tab_count += 1
      form.configuration.tab-panel action="" method=:post name=:configuration_edit data-parsley-excluded="input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden, .no-validation" class=((inner_tab_count == 1 ? "active" : "")) data-input-index=input_index data-base-object-id=object.id data-base-object-revision=object.revision data-key=(Base64.urlsafe_encode64(input[:name] || "Input #{input_index}")) 
        .card.flex.filled.configuration
      - configuration_index += 1
    - input_index += 1
