-# encoding: utf-8

- if (description and description[:text] != "") || (tags and not tags.empty?) || object.canEdit? || [:source, :license, :publisher, :published, :website, :authors, :environment, :architecture].select{|k| object.info.has_key?(k)}.any?
  .description.centered.perfect-scrollbar
    .information
      - if (object.info[:summary])
        .summary
          h2.summary
            == svg(:metadata, :authors)
            span.label
              | Summary
          p
            = object.info[:summary]
      - if (object.info[:authors] && object.info[:authors] != "") || (object.info[:organization] && object.info[:organization] != "")
        / These should be h3's
        .authors
          h2.authors
            == svg(:metadata, :authors)
            span.label
              = I18n.t 'subsubheaders.authors'
          ul
            - (object.info[:authors] || []).each do |author|
              li
                - if isHash(author)
                  - personInfo = Occam::Person.personInfoFor(author, :account => current_account)
                  - if personInfo
                    - person = Occam::Person.new(:id => personInfo[:id], :account => current_account)
                    a href=person.url
                      img.avatar src=person.avatar_url(size=16)
                      = person.info[:name]
                  - else
                    = author
                - else
                  = author
            - if object.info[:organization]
              li.organization
                = object.info[:organization]
      - if object.info[:contributors] && object.info[:contributors] != ""
        .contributors
          h2.contributors
            == svg(:metadata, :authors)
            span.label
              = I18n.t 'subsubheaders.contributors'
          ul
            - (object.info[:contributors] || []).each do |author|
              li
                - if isHash(author)
                  - personInfo = Occam::Person.personInfoFor(author, :account => current_account)
                  - if personInfo
                    - person = Occam::Person.new(:id => personInfo[:id], :account => current_account)
                    a href=person.url
                      = person.info[:name]
                  - else
                    = author
                - else
                  = author
      - if object.info[:publisher]
        .publisher
          h2.publisher
            == svg(:metadata, :publisher)
            span.label
              = I18n.t 'subsubheaders.publisher'
          p
            = object.info[:publisher]
      - if object.info[:published]
        .published
          h2.published
            == svg(:metadata, :history)
            span.label
              = I18n.t 'subsubheaders.released'
          p
            = renderDate(object.info[:published], :format => :long)
      - if object.info.has_key? :source
        .source
          h2.source
            == svg(:metadata, :source)
            span.label
              = I18n.t 'subsubheaders.source'
          .value
            a href=object.info[:source]
              = object.info[:source]
      - if object.info.has_key? :website
        .website
          h2.website
            == svg(:metadata, :website)
            span.label
              = I18n.t 'subsubheaders.website'
          .value
            a href=object.info[:website] rel="noreferrer noopener"
              = object.info[:website]
      - if object.info[:license]
        .license
          h2.license
            == svg(:metadata, :license)
            span.label
              = I18n.t 'subsubheaders.license'
          ul
            - object.licenses.each_with_index do |license, i|
              li
                - if license.text
                  a.modal href=(object.url(:path => "licenses/#{i.to_s}"))
                    = license.name
                - else
                  = license.name
      - if object.info.has_key? :environment
        .environment
          h2.environment
            == svg(:metadata, :environment)
            span.label
              = I18n.t 'subsubheaders.environment'
          .value
            span
              a.environment href=Occam::Object.searchURLFor("", :environment => object.info[:environment])
                = object.info[:environment]
                - environmentIconURL = object.environmentIconURL(:hex => "b481bd")
                - if environmentIconURL
                  img src=environmentIconURL alt=("search for #{object.info[:environment]} environment") title=("#{object.info[:environment]} environment")
      - if object.info.has_key? :architecture
        .architecture
          h2.architecture
            == svg(:metadata, :architecture)
            span.label
              = I18n.t 'subsubheaders.architecture'
          .value
            span
              a.architecture href=Occam::Object.searchURLFor("", :architecture => object.info[:architecture])
                = object.info[:architecture]

    - if tags and not tags.empty?
      - if not tags.is_a?(Array)
        - tags = [tags]
      ul.tags
        - tags.each do |tag|
          li.tag
            a href="/search?tags=#{tag}"
              = tag
            .after
    - if object.canEdit?
      p.edit.edit-metadata
        a#edit-metadata.modal href=(object.url(:path => "metadata/edit")) data-modal-full=true
          | Edit Metadata
    - if description
      == render_description(description[:text], object, :fenced_code_blocks => true, :path => description[:path])
    - if object.canEdit?
      p.edit.edit-description
        a#edit-markdown.modal href=(object.url(:path => "metadata/description/edit")) data-modal-full=true
          | Edit Description
