- if !defined?(files)
  - files = []

- if !defined?(build)
  - build = nil

- basepath = ""
- fileObject = object
- if not defined?(build)
  - build = nil
- if build
  - basepath = "builds/#{build.id}/"
  - fileObject = build

- if !defined?(data_mime_type)
  - data_mime_type = nil

- if (fileObject.path && data_mime_type) || (fileObject.path && !fileObject.isGroup?(fileObject.path))
  - files << fileObject.path

- tabs_id = "file-panels"
- if request.xhr?
  - tabs_id = "modal-file-panels"

- files.map! do |path|
  - viewer = nil
  - data_mime_type ||= fileObject.fileType(path)
  - views_type = data_mime_type.split("/")[0]
  - views_subtype = data_mime_type
  - viewers = fileObject.associatedViewers({:type => views_type,
                                            :subtype => views_subtype})
  - viewer = viewers[0]
  - if not viewer
    - viewers = Occam::Object.viewersFor(:subtype => views_subtype, :type => views_type)
    - if File.extname(path) != ""
      - viewers.concat(Occam::Object.viewersFor(:subtype => "extension-#{File.extname(path).downcase[1..-1]}", :type => "data"))
    - viewer = viewers[0]
  - if !viewer && fileObject.isText?(path)
    - # text/plain fallback
    - viewers = fileObject.associatedViewers({:type => "text",
                                              :subtype => "text/plain"})
    - viewer = viewers[0]
    - if not viewer
      - viewers = Occam::Object.viewersFor(:subtype => "text/plain", :type => "text")
      - viewer = viewers[0]
    - if viewer
      - data_mime_type = "text/plain"
  - {:path => path, :viewer => viewer, :viewers => viewers, :mime => data_mime_type}

- fileListingReveal = files.length == 0

.card.flex.filled.file-viewer data-build-id=(build ? build.id : false)
  ul.tabs.tab-bar.file-tabs.filled.file-viewer-bar data-panels=tabs_id
    - revealed = fileListingReveal ? false : "reveal"
    li.tab.sidebar.file-listing class=revealed data-sidebar-reveal=".sidebar.file-listing-container"
      a href="#" title=I18n.t('objects.files.listing.button')
        = I18n.t('objects.files.listing.button')
        .arrow
        .arrow
        == svg(:ui, :"file-listing")
    - files.each_with_index do |file, i|
      - active = (i == 0) ? "active" : false
      li.tab.file-tab.filled role=:presentation data-no-tab-adjustment=true class=active
        a href=(object.url(:path => "#{basepath}files#{file[:path]}"))
          - icon_mime_type = file[:mime]
          - if icon_mime_type == "application/octet-stream"
            - icon_mime_type = "data/extension-#{File.extname(file[:path]).downcase[1..-1]}"
          == svg(:objects, Occam::Object.iconIDFor(icon_mime_type.split('/')[0], :subtype=>icon_mime_type))
          == svg(:objects, Occam::Object.iconIDFor(icon_mime_type.split('/')[0], :subtype=>icon_mime_type), :class => "nav")
          .label
            span.type
              = file[:mime]
            span.name
              = File.basename(file[:path])
          button.inline.delete
            | remove
    template
      li.file-tab.tab.filled role=:presentation data-tab-adjusted=true
        a href=object.url
          img src='/images/indicators/object.svg'
          img.hover src='/images/indicators/object.svg'
          img.active src='/images/indicators/object.svg'
          .label
            span.type
            span.name
          button.inline.delete
            | remove
    li.dropdown-menu role=:presentation aria-hidden=!current_layout.embedded? hidden=!current_layout.embedded?
      button.dropdown role=:presentation aria-hidden=!current_layout.embedded?
        == svg(:ui, :"object-actions")
      ul.dropdown-menu-options.options

    li.tab.sidebar.run-queue.reveal disabled=files.empty? data-sidebar-reveal='li.file-tab.tab-panel.active nav.sidebar[data-phase="run"]'
      a href="#" title=I18n.t('navigation.runQueue')
        = I18n.t('navigation.runQueue')
        .arrow
        .arrow
        == svg(:ui, :"run.small")

  .card.filled.container.flex
    - revealed = fileListingReveal ? false : "reveal"
    .sidebar.left.file-listing-container.loading.card.flex.filled class=revealed
      == partial(:"objects/directory", :locals => {:object => object,
                                                   :build  => build})
      .pending.card.flex.filled.loading.file-listing hidden=true

    ul.tab-panels.file-tabs.filled id=tabs_id
      - files.each_with_index do |file, i|
        - active = (i == 0) ? "active" : false
        li.file-tab.filled.tab-panel class=active
          == partial(:"objects/viewer", :locals => {:viewerObject => file[:viewer],
                                                    :view         => "full",
                                                    :file         => file[:path],
                                                    :object       => object,
                                                    :input        => object,
                                                    :build        => build,
                                                    :sidebar      => :closed,
                                                    :viewers      => file[:viewers]})
      template.file-tab
        li.file-tab.tab-panel.filled
          == partial(:loading)
