- if !defined?(links)
  - links = true

- if !defined?(checkboxes)
  - checkboxes = false

- file_path = "#{path && path.length > 1 ? "#{path}/" : ""}#{info[:name]}"
- if file_path.start_with?("/")
  - file_path = file_path[1..-1]
- isMain = object.info[:file] == file_path
tr.row data-path=file_path data-type=info[:type] class=((isMain ? "main" : "") + (info[:type] == "tree" ? " group" : " file"))
  - if checkboxes
    td.checkbox
      - if info[:type] != "tree"
        - base64_id = Base64.urlsafe_encode64(file_path)
        - name = "#{form_prefix}[#{base64_id}]"
        input type=:hidden name=name value="false"
        input.checkbox type=:checkbox name=name checked=false
  td.icon
    - if info[:type] == "tree"
      == svg(:objects, Occam::Object.iconIDFor(:group, :small => true))
    - else
      - if info[:mime][0] == "application/octet-stream"
        - info[:mime][0] = "data/extension-#{File.extname(info[:name]).downcase[1..-1]}"
      - type = info[:mime][0].split('/')[0]
      - subtype = info[:mime][0]
      == svg(:objects, Occam::Object.iconIDFor(type, :subtype => subtype, :small => true))
  - size = to_friendly_filesize(info[:size] || 0)
  td.size.value
    - if info[:type] != "tree"
      = size[:value]
  td.size.units
    - if info[:type] != "tree"
      = size[:units]
  td.type
    = info[:mime][0]
  td.name.truncate
    - if links
      a.name href=object.url(:path => "#{basepath}files/#{path && path.length > 1 ? "#{path}/" : ""}#{info[:name]}", :full=>true) rel=:nofollow
        span.name
          = info[:name]
        - if info[:from]
          span.revision
            = info[:from][:revision]
    - else
      span.name
        = info[:name]
      - if info[:from]
        span.revision
          = info[:from][:revision]
  - if links
    td.actions
      - if info[:type] != "tree"
        .dropdown-menu
          a href="#"
            | ...
          ul.dropdown-menu-options
            li
              a.icon.download href=object.url(:path => "#{basepath}raw/#{path && path.length > 1 ? "#{path}/" : ""}#{info[:name]}", :full=>true) rel="nofollow"
                = I18n.t 'objects.files.actions.download'
                == svg(:ui, :download)
            li
              form.associate action=object.url(:path => "#{basepath}files/object.json") method=:post
                == svg(:ui, :remove)
                input name="data[file]" value=info[:name] type=:hidden
                input.icon type="submit" value=I18n.t('objects.files.actions.remove')
            - if !isMain
              li
                form.associate action=object.url(:path => "#{basepath}files/object.json") method=:post
                  == svg(:ui, :"set-main")
                  input name="data[file]" value=info[:name] type=:hidden
                  input.icon type="submit" value=I18n.t('objects.files.actions.setMain')
      - else
        .dropdown-menu
          a href="#"
            | ...
          ul.dropdown-menu-options
            li
              a.icon.download href=object.url(:path => "#{basepath}files/#{path && path.length > 1 ? "#{path}/" : ""}#{info[:name]}", :query=>({:accept => "application/zip"}), :full=>true) rel="nofollow"
                = I18n.t 'objects.files.actions.downloadZip'
                == svg(:ui, :download)
