/ Renders the top header for the page given information about the object.
/
/ Locals:
/   name         - The name of the object.
/   type         - The type of the object.
/   group        - When defined, the group that this object belongs to.
/   workset      - When defined, the workset that this object belongs to.
/   head_view    - When defined, and true, omits the revision from urls.
/   organization - When defined, describes the organization for this object.
/   description  - When defined, the markdown for the object description.
/   tags         - When defined, an array of strings representing tags.

- workset = nil
- revision = object.revision

- if !defined?(reviewing)
  - reviewing = false

- if !defined?(embedded)
  - embedded = false

- if !defined?(showActions)
  - showActions = true

h1 class=([direction(object.info[:name]) == :rtl ? "rtl" : "ltr"]) data-object-type=object.info[:type] data-can-write=object.canEdit? data-can-read=object.canView? data-can-clone=object.canClone? data-can-run=object.canExecute? data-has-parent=object.parents.any?
  .pjax-progress
  .saving.flash hidden=true
    == partial :spinner, :locals => {:klass => "light"}
    = I18n.t "flash.saving"
  .error.flash hidden=true
    = I18n.t "flash.error"
  - if object.parents.any?
    nav.dropdown-menu.media-tablet
      button.nav-dropdown.dropdown title="Navigation" aria-haspopup=:true aria-expanded=:false
        img src="/images/dynamic/hex/#{current_theme.hexColorFor("header.button.icon")}/ui/nav-dropdown.svg"
        img.hover src="/images/dynamic/hex/#{current_theme.hexColorFor("header.button.hover.icon")}/ui/nav-dropdown.svg"
      ul.dropdown-menu-options role=:menu aria-label="Object Navigation"
        - object.parents.reverse.each do |parent|
          li role=:none
            .before
            a.icon data-object-type=parent.info[:type] href=parent.url role=:menuitem
              img src=Occam::Object.iconURLFor(parent.info[:type], :subtype=>parent.info[:subtype])
              img.hover src=Occam::Object.iconURLFor(parent.info[:type], :subtype=>parent.info[:subtype], :hex=>"ffffff")
              = parent.info[:name]
            .after
          - parent = parent.parent
  - if current_account && showActions
    .actions.dropdown-menu
      button.actions-dropdown disabled=true aria-hidden=:true
      button.actions-dropdown.dropdown title=I18n.t('information.header') aria-haspopup=:true aria-expanded=:false
        == svg(:ui, :"actions-dropdown")
      ul.dropdown-menu-options.options role=:menu aria-label="Object Actions"
        /- if (object.runnable? || object.viewer? || object.widget?) && (not ['workset', 'experiment', 'group', 'paper'].include?(object.info[:type]))
          - if !current_person
            - if object.trusted?
              li.trusted role=:none
                a role=:menuitem
                  = I18n.t "information.trusted"
                  == svg(:ui, :trusted)
            - else
              li.trust role=:none
                a role=:menuitem
                  = I18n.t "information.untrusted"
                  == svg(:ui, :trust)
          - else
            - if object.trusted?
              li.trusted role=:none
                form action=(object.url(:path => "/trust")) method=:post
                  == svg(:ui, :trusted)
                  input type=:hidden value='delete' name=:_method role=:none
                  input.icon.bookmark_delete type=:submit value=I18n.t('information.removeTrust') role=:menuitem
            - else
              li.trust role=:none
                form action=(object.url(:path => "/trust")) method=:post
                  == svg(:ui, :trust)
                  input.icon.bookmark type=:submit value=I18n.t('information.trust')
        - if current_person
          li.bookmark_delete hidden=(!current_person.bookmarked?(object)) role=:none
            form action="/people/#{current_person.identity.uri}/bookmarks/#{object.id}" method=:post
              == svg(:ui, :bookmark_delete)
              input type=:hidden value='delete' name=:_method role=:none
              input.icon.bookmark_delete type=:submit value=I18n.t('information.removeBookmark') role=:menuitem
          li.bookmark hidden=current_person.bookmarked?(object) role=:none
            form action="/people/#{current_person.identity.uri}/bookmarks" method=:post
              == svg(:ui, :bookmark)
              input type=:hidden name=:object_id value=object.id role=:none
              input.icon.bookmark type=:submit value=I18n.t('information.bookmark') role=:menuitem
        - if false
          li.collaborate
            button onclick="TogetherJS(this); return false;"
              Start TogetherJS
        - if current_person && !reviewing
          li.fork
            a.icon.modal href=(object.url(:path => "fork"))
              = I18n.t 'information.fork'
              == svg(:ui, :fork)
  svg.large-icon aria-hidden="true" data-object-type=object.info[:type]
    use xlink:href="/images/symbol/objects.svg##{object.iconID}"
  - organization = ""
  - if object.info.has_key? :organization
    - organization = object.info[:organization]
  - elsif object.authorships.any?
    - organization = object.authorships[0..2].map(&:person).map{|p| p.info[:name]}.join(", ")
    - if object.authorships.length > 3
      - organization << ", et al"
  - elsif object.info.has_key? :authors
    - organization = object.info[:authors][0..2].map{|tag| tag = Occam::Person.new(:id => tag).info[:name] if isHash(tag); tag}.join(", ")
    - if object.info[:authors].length > 3
      - organization << ", et al"
  .type class=((organization == "" ? "no-organization" : false))
    a id="#{current_layout.modal? ? "modal-" : ""}object-type" href=Occam::Object.searchURLFor("", :type => object.info[:type])
      = object.info[:type]
    - if object.info.has_key? :subtype
      - subtypes = object.info[:subtype]
      - if not subtypes.is_a? Array
        - subtypes = [subtypes]
      ul.subtypes<
        - subtypes.each do |subtype|
          li.subtype
            span.subtype
              = subtype
    ul.badges
      - if object.trusted?
        li.badge.trusted title=I18n.t("badges.trusted")
          = I18n.t("badges.trusted")
  .name id="#{current_layout.modal? ? "modal-" : ""}object-name"
    span
      a href=object.url
        = object.info[:name]
    - if object.version
      span.version
        = object.version
  .organization
    = organization
  .object-root-id id="#{current_layout.modal? ? "modal-" : ""}object-root-id" hidden=true
    = object.withinUuid
  .object-root-id id="#{current_layout.modal? ? "modal-" : ""}object-root-revision" hidden=true
    = object.withinRevision
  - if object.link
    .object-link id="#{current_layout.modal? ? "modal-" : ""}object-link" hidden=true
      = object.link
  - if object.file
    .object-file id="#{current_layout.modal? ? "modal-" : ""}object-file" hidden=true
      = object.file
  - if object.path
    .object-path id="#{current_layout.modal? ? "modal-" : ""}object-path" hidden=true
      = object.path
  ol.object-index id="#{current_layout.modal? ? "modal-" : ""}object-index" hidden=true
    - (object.index || []).each do |index|
      li
        = index
  .object-id id="#{current_layout.modal? ? "modal-" : ""}object-id" hidden=true
    = object.id
  .object-revision id="#{current_layout.modal? ? "modal-" : ""}object-revision" hidden=true
    = revision

.bar
