- tabs_id = "history-panels"
- if request.xhr?
  - tabs_id = "modal-history-panels"

.card.filled.object-history.transparent.flex
  ul.tabs.tab-bar.filled.object-history-info data-panels=tabs_id
    li.tab.sidebar.date-picker.reveal data-sidebar-reveal=".sidebar.left.date-picker"
      a href="#" title=I18n.t('navigation.runQueue')
        = I18n.t('navigation.runQueue')
        .arrow
        .arrow
        img src='/images/dynamic/hex/6aa3ae/icons/metadata/date.svg'
        img.active src='/images/dynamic/hex/ffffff/icons/metadata/date.svg'
    li.tab.active
      a href="#"
        | Activity
    /li.tab
      a href="#"
        | Difference

  .card.filled.container.flex.transparent.history
    .sidebar.left.date-picker.card.flex.very-wide.reveal
      .calendar

    ul.tab-panels.card.transparent.flex.filled id=tabs_id
      li.tab-panel.active.card.transparent.flex.filled
        - if object.canEdit?
          / Check if there needs to be a build of this object
          - if object.buildable? && object.stored.builds.none?
            .card
              p.warning
                | Build not available. Please, create a build for this version.
        .card.filled.history-commits
          h2.offscreen
            = I18n.t('subheaders.history')

          - if object.canEdit?
            / A 'publish' button to create a new entry in the history
            a.publish.modal href=object.url(:path => "/history/new")
              img.icon src=imageURL("icons/ui/create.svg", :hex => "ffffff")
              span
                | Publish

          ul.history
            - commits = object.retrieveHistory(:before => before, :after => after)
            - if commits.any?
              - commits.each do |commit|
                li.commit
                  p.date
                    a href=(object.url(:revision => commit[:revision]))
                      - if commit[:date].is_a?(Date) or commit[:date].is_a?(DateTime)
                        time datetime=commit[:date].iso8601
                          = I18n.l commit[:date], :format => :long
                      - else
                        = commit[:date]
                  p.name
                    = I18n.t('history.author') + ":"
                    span.author<
                      = commit[:author]
                  - commit[:message].lines.each do |line|
                    p.message
                      = line
            - else
              = I18n.t('history.none')
      li.tab-panel.card.filled
        .card.filled.history-diff
