/ Presents a paginated list of objects
/ Locals: objects  - either an array of Occam::Object (or a relation) or an
/                    array of object infomation (array of hashes).
/         noneText - Text to display when the list is empty. Can be omitted.
/              url - The url to direct pagination to.

- if !defined?(url) || url.nil?
  - url = ""

- if !defined?(query) || query.nil?
  - query = ""

- if !defined?(deleteURLs)
  - deleteURLs = nil

- if !defined?(data) || data.nil?
  - data = {}

- if !defined?(noneText) || noneText.nil?
  - noneText = I18n.t('common.none')

- if !defined?(pagination) || pagination.nil?
  - pagination = {:pageIndex => 1,
                  :pageItems => 30}

- if !defined?(sidebarButton)
  - sidebarButton = false

- if !defined?(sidebarRevealed)
  - sidebarRevealed = false

- if !defined?(sidebarTag)
  - sidebarTag = false

- tabs_id = "results-panes"
- if request.xhr?
  - tabs_id = "modal-#{tabs_id}"

ul.tabs.tab-bar.listview data-panels=tabs_id
  - if sidebarButton
    li.sidebar.tab class=(!sidebarRevealed ? "reveal" : false) data-sidebar=sidebarTag
      a.facets href="#" title=I18n.t('navigation.showSidebar') alt=I18n.t('navigation.showSidebar')
        = I18n.t('navigation.showSidebar')
        .arrow
        .arrow
        .arrow
        == svg(:ui, :facets)
  li.tab
    a.icon.list-view href="#" 
      == svg(:ui, :"list-view")
      = I18n.t('navigation.listView')
  li.tab.active
    a.icon.list-preview href="#" 
      == svg(:ui, :"list-preview")
      = I18n.t('navigation.preview')

.card.results-panes-container.container.flex.filled
  == partial(:"objects/listview/sidebar", :locals => {:sidebarRevealed => sidebarRevealed,
                                                      :query           => query,
                                                      :data            => data})
  ul.listview.tab-panels.card.flex.filled id=tabs_id
    == partial(:"objects/listview/panels", :locals => {:pagination => pagination,
                                                       :objects    => objects,
                                                       :deleteURLs => deleteURLs,
                                                       :noneText   => noneText})
