- if object.canEdit?
  / Check if there needs to be a build of this object
  - if object.buildable? && object.stored.builds.none?
    .card
      p.warning
        | Build not available. Please, create a build for this version.

- if object.info[:images] || (object.description and object.description[:text] != "") || (object.info[:tags] and not object.info[:tags].empty?) || object.canEdit? || [:source, :license, :publisher, :published, :website, :authors, :environment, :architecture].select{|k| object.info.has_key?(k)}.any?
  .top-details.card.transparent
    - gallery_class = object.info[:images] ? false : "no-images"
    .top-gallery class=gallery_class
      == partial(:"objects/description", :locals => {:description => object.description,
                                                     :tags        => object.info[:tags],
                                                     :object      => object})

      == partial(:"objects/images", :locals => {:object => object})

- if object.generators.any?
  .card.filled
    h2
      = I18n.t 'subsubheaders.generated'

    == partial(:"objects/object_list", :locals => {:object  => object,
                                                   :objects => object.generators.reverse})

- if object.versions.any?
  .card.filled
    h2
      = I18n.t 'subheaders.versions'

    .objects-container
      ul.objects.perfect-scrollbar
        - versions = object.status[:versions]
        - object.status[:sortedVersions].each do |version|
          - revision = versions[version.intern]
          li.object.version
            a href=(object.url(:revision => revision))
              p.version
                = version

== partial(:"objects/metadata/io", :locals => {:object => object})

- if object.info[:type] != "experiment" && object.info[:type] != "workset"
  == partial(:"objects/metadata/associations", :locals => {:object => object, :kind => :viewer, :section => :views})

  == partial(:"objects/metadata/associations", :locals => {:object => object, :kind => :editor, :section => :edits})

  == partial(:"objects/metadata/services", :locals => {:object => object})

  - if object.includes.any?
    .card.filled
      h2
        = I18n.t 'subsubheaders.includes'

      == partial(:"objects/object_list", :locals => {:object   => object,
                                                     :objects  => object.includes,
                                                     :addModal => true,
                                                     :addURL   => object.url(:path => "metadata/includes/new")})

  - if object.dependencies.any? || object.canEdit?
    .card.filled
      == header(:text      => I18n.t('objects.metadata.dependencies.header'),
                :help      => I18n.t('objects.metadata.dependencies.help'),
                :id        => :dependencies)

      == partial(:"objects/object_list", :locals => {:object      => object,
                                                     :objects     => object.dependencies,
                                                     :addModal    => :large,
                                                     :removeURL   => object.url(:path => "files/object.json"),
                                                     :removeKey   => "dependencies",
                                                     :referrerURL => "metadata",
                                                     :addURL      => object.url(:path => "metadata/dependencies/new")})

  - if (object.info[:install] && object.info[:install] != []) || object.canEdit?
    .card.filled
      == header(:text      => I18n.t('objects.metadata.resources.header'),
                :help      => I18n.t('objects.metadata.resources.help'),
                :id        => :resources)

      == partial(:"objects/metadata/resources", :locals => {:object  => object,
                                                            :objects => object.info[:install] || [],
                                                            :addModal    => true,
                                                            :removeURL   => object.url(:path => "files/object.json"),
                                                            :removeKey   => "install",
                                                            :referrerURL => "metadata",
                                                            :addURL  => object.url(:path => "metadata/install/new")})

  - if object.info[:build] || object.canEdit?
    .card.filled.details
      == header(:text      => I18n.t('objects.metadata.build.header'),
                :help      => I18n.t('objects.metadata.build.help'),
                :id        => :build)

      - if object.dependencies(:build).any? || (object.canEdit? && object.info[:build])
        h3
          = I18n.t 'subsubheaders.dependencies'

        == partial(:"objects/object_list", :locals => {:object  => object,
                                                       :objects => object.dependencies(:build),
                                                       :addModal    => :large,
                                                       :removeURL   => object.url(:path => "files/object.json"),
                                                       :removeKey   => "build.dependencies",
                                                       :referrerURL => "metadata",
                                                       :key         => "build.dependencies",
                                                       :addURL      => object.url(:path => "metadata/build/dependencies/new")})

      - if (object.info[:build] && object.info[:build][:install] && object.info[:build][:install] != []) || (object.canEdit? && object.info[:build])
        h3
          = I18n.t 'subheaders.resources'

        == partial(:"objects/metadata/resources", :locals => {:object  => object,
                                                              :objects => (object.info[:build] || {})[:install] || [],
                                                              :addModal    => true,
                                                              :removeURL   => object.url(:path => "files/object.json"),
                                                              :removeKey   => "build.install",
                                                              :referrerURL => "metadata",
                                                              :key         => "build.install",
                                                              :addURL  => object.url(:path => "metadata/build/install/new")})

      - [:command, :script].each do |key|
        - if object.info[:build] && object.info[:build][key]
          h3
            = I18n.t("subsubheaders.#{key.to_s}")

          ul.command
            - command = object.info[:build][key]
            - if not command.is_a?(Array)
              - command = [command]
            - command.each do |token|
              li
                code
                  = token

      - if (object.info[:build] && object.info[:build][:environment]) || object.info[:environment]
        h3
          | Build Environment

        ul.command
          - [(object.info[:build] || {})[:environment] || object.info[:environment], (object.info[:build] || {})[:architecture] || object.info[:architecture]].each do |token|
            li
              code
                = token

      - if object.canEdit?
        p
          a#edit-build-metadata.button.modal href=(object.url(:path => "metadata/build/edit")) data-modal-full=true
            | Edit Build Metadata

  - if object.info[:run] || object.canEdit?
    .card.filled.details
      == header(:text      => I18n.t('objects.metadata.run.header'),
                :help      => I18n.t('objects.metadata.run.help'),
                :id        => :run)

      - if object.dependencies(:run).any? || (object.canEdit? && object.info[:run])
        h3
          = I18n.t 'subsubheaders.dependencies'

        == partial(:"objects/object_list", :locals => {:object  => object,
                                                       :objects => object.dependencies(:run),
                                                       :addModal    => :large,
                                                       :removeURL   => object.url(:path => "files/object.json"),
                                                       :removeKey   => "run.dependencies",
                                                       :referrerURL => "metadata",
                                                       :key         => "run.dependencies",
                                                       :addURL      => object.url(:path => "metadata/run/dependencies/new")})

      - if (object.info[:run] && object.info[:run][:install] && object.info[:run][:install] != []) || (object.canEdit? && object.info[:run])
        h3
          = I18n.t 'subheaders.resources'

        == partial(:"objects/metadata/resources", :locals => {:object  => object,
                                                              :objects => (object.info[:run] || {})[:install] || [],
                                                              :addModal    => true,
                                                              :removeURL   => object.url(:path => "files/object.json"),
                                                              :removeKey   => "run.install",
                                                              :referrerURL => "metadata",
                                                              :key         => "run.install",
                                                              :addURL  => object.url(:path => "metadata/run/install/new")})

      - [:command, :script, :file].each do |key|
        - if object.info[:run] && object.info[:run][key]
          h3
            = I18n.t("subsubheaders.#{key.to_s}")

          ul.command
            - command = object.info[:run][key]
            - if not command.is_a?(Array)
              - command = [command]
            - command.each do |token|
              li
                code
                  = token

      - if object.info[:run] && (object.info[:run][:environment] || object.info[:environment])
        h3
          | Run Environment

        ul.command
          - [object.info[:run][:environment] || object.info[:environment], object.info[:run][:architecture] || object.info[:architecture]].each do |token|
            li
              code
                = token

      - if object.canEdit?
        p
          a#edit-build-metadata.button.modal href=(object.url(:path => "metadata/run/edit")) data-modal-full=true
            | Edit Run Metadata

/ The "Installation" (link/copy) data
== partial(:"objects/metadata/installation", :locals => {:object => object})

/ Related objects
== partial(:"objects/metadata/related", :locals => {:object => object})

/ Share/embed links
== partial(:"objects/metadata/share", :locals => {:object => object})

/= partial(:"objects/information", :locals => locals)

/ Citations
== partial(:"objects/metadata/citation", :locals => {:object => object})

.card.filled
