.card.filled.publish
  - Occam::System::Storage.list.each do |k, storage|
    - if k != :local
      h2
        - image = storage.imageURL
        - if image
          img role=:presentation src=image alt=storage.backend 
        - else
          #{storage.backend}
      - if storage.accountInfo != {}
        - if current_account
          - instances = Occam::System::Storage.view(k, current_account)
          - instances.each do |instance|
            form action=(object.url(:path => "/publish/#{k}/#{instance.id}")) method=:post 
              table
                - instance.accountInfo.each do |k,v|
                  - next if [:oauthAccessToken, :oauthAuthToken, :oauthRefreshToken, :oauthCSRFToken, :oauthURL].include?(k)
                  tr
                    td
                      #{k}
                    td
                      #{v}
              input.button value="Publish" type=:submit name=:update 
          - if instances.empty?
            markdown:
              | There are no connections to this storage backend. You can go to [here](/people/#{current_person.id}/storage) to set them.
        - else
          markdown:
            | Please [login](/login) to attach an account to this storage backend.
      - else
        form action=(object.url(:path => "/publish/#{k}")) method=:post 
          input.button value="Publish" type=:submit name=:update 
