- if !defined?(preferredRunner) || preferredRunner.nil?
  - preferredRunner = object

- if !defined?(runners) || runners.nil?
  - runners = []

.card.flex.filled
  ul.tabs.tab-bar.filled.object-runner-info hidden=(current_layout.view == :minimal) data-allow-merge=true
    li.tab.sidebar.job-list.reveal hidden=true
      a href="#"
        = I18n.t('navigation.runQueue')
        .arrow
        .arrow
        img src='/images/dynamic/hex/6aa3ae/ui/workflow-job-list.svg'
        img.active src='/images/dynamic/hex/ffffff/ui/workflow-job-list.svg'
    li.dropdown-menu role=:presentation aria-hidden=:true hidden=true
      button.dropdown
      ul.dropdown-menu-options.options
    li.tab.sidebar.run-queue.reveal data-sidebar-reveal='.sidebar[data-phase="run"]'
      a href="#"
        = I18n.t('navigation.runQueue')
        .arrow
        .arrow
        img src='/images/dynamic/hex/6aa3ae/icons/ui/run.small.svg'
        img.active src='/images/dynamic/hex/ffffff/icons/ui/run.small.svg'

  == partial(:"objects/viewer", :locals => {:viewerObject => preferredRunner,
                                            :label        => I18n.t('object-selection.running'),
                                            :object       => object,
                                            :running      => true,
                                            :viewers      => runners,
                                            :help         => defined?(help) ? help : ""})
