- if !defined?(files)
  - files = []

- if !defined?(phase)
  - phase = :run

- if !defined?(data_mime_type)
  - data_mime_type = nil

- if !defined?(file)
  - file = files.first

- if !defined?(viewer)
  - viewer = nil

- if !defined?(viewers)
  - viewers = nil

- if !viewers
  - if data_mime_type || (object.path && !object.isGroup?(object.path))
    / TODO: associations
    - viewers = object.viewers(:path => object.path)
    - if object.path && File.extname(object.path) != ""
      - viewers.concat(Occam::Object.viewersFor(:subtype => "extension-#{File.extname(object.path).downcase[1..-1]}", :type => "data"))
    - if object.isText?(object.path)
      - viewers.concat(Occam::Object.viewersFor(:subtype => "text/plain", :type => "text"))
      - data_mime_type = "text/plain"
  - else
    - viewers = object.viewers
  - viewers.uniq!(&:fullID)

  - if !viewer && viewers.any?
    - viewer = viewers.first

- route = []
- if object.info[:type] != "experiment"
  - if viewer
    - route = Occam::Task.new(:object => viewer, :targetEnvironment => "html", :targetArchitecture => "javascript", :phase => phase).route
  - else
    - route = Occam::Task.new(:object => object, :targetEnvironment => "html", :targetArchitecture => "javascript", :phase => phase).route
  - if route.empty?
    - if viewer
      - route = Occam::Task.new(:object => viewer, :phase => phase).route
    - else
      - route = Occam::Task.new(:object => object, :phase => phase).route
  - else
    - route.push({ :backend => "web-browser" })

- if !defined?(label)
  - if !running
    - label = I18n.t('objects.run.form.using.header')
  - else
    - if phase == :run
      - label = I18n.t('objects.run.form.running.header')
    - else
      - label = I18n.t('objects.run.form.building.header')

- if !object.path && object.info[:images] && object.info[:images].count > 0
  .image
    img src=(object.url(:path => "raw/#{object.info[:images][0]}"))
.task-pane
  .task-form
    .task-form-row.settings hidden=true
      .task-form-header.settings
      .task-form-cell.settings
        label.slider-checkbox
          input type=:checkbox
          span.label
            = I18n.t('objects.run.form.advanced.label')
    - if !running
      .task-form-row.viewing-object
        .task-form-header.label.viewing-object
          h3
            = I18n.t('objects.run.form.viewing.header')
        - eula = false
        - if object.eula
          - eula = object.eula.index
        .task-form-cell.task-form-item.viewing-object data-viewing=object.fullID(object.path) data-eula-index=eula data-file=file data-token=encrypt_token(object) data-link=object.link
          .task-form-inner-cell.task-form-object
            img.icon src=object.iconURL(:hex => "eeeeee")
            .info
              span.type
                = object.info[:type]
              span.name
                = object.info[:name]
            - if object.path && object.path != "/"
              .info.path-info
                img.arrow src="/images/dynamic/hex/eeeeee/ui/task_form_arrow.svg"
                img.icon src=Occam::Object.iconURLFor(object.pathInfo[:type], :hex => "eeeeee", :subtype => object.pathInfo[:subtype])
                .info
                  span.type
                    = object.pathInfo[:type]
                  span.name
                    = File.basename(object.path)
    - runObject = viewer || object
    - previousObject = runObject
    - if running || viewer
      .task-form-row.running-object
        .task-form-header.label.running-object
          h3 data-phase=phase
            = label
        - eula = false
        - if runObject.eula
          - eula = runObject.eula.index
        .task-form-cell.task-form-item.running-object data-object=runObject.fullID data-eula-index=eula data-file=file data-phase=phase data-token=encrypt_token(runObject) data-link=runObject.link
          .task-form-inner-cell.task-form-object
            img.icon src=runObject.iconURL(:hex => "eeeeee")
            .info
              span.type
                = runObject.info[:type]
              span.name
                = runObject.info[:name]
            - if runObject.path
              .info.path-info
                img.arrow src="/images/dynamic/hex/eeeeee/ui/task_form_arrow.svg"
                img.icon src=Occam::Object.iconURLFor(runObject.pathInfo[:type], :hex => "eeeeee", :subtype => runObject.pathInfo[:subtype])
                .info
                  span.type
                    = runObject.pathInfo[:type]
                  span.name
                    = File.basename(runObject.path)
            .task-form-query.card.reveal
              - if viewers && viewers.any?
                h4
                  | Known Viewers
                .viewer-selection
                  select.selector.viewer data-icon-color=current_theme.hexColorFor('interface.selector.icon') data-icon-hover-color=current_theme.hexColorFor('interface.selector.hover.icon') data-icon-disabled-color=current_theme.hexColorFor('interface.selector.disabled.icon') data-icon-base-url="/images/dynamic/hex/"
                    - viewers.each do |secondaryViewer|
                      option data-icon-url=secondaryViewer.iconURL(:relative => true) data-object-id=secondaryViewer.id data-object-revision=secondaryViewer.revision data-object-type=secondaryViewer.info[:type] selected=(secondaryViewer.id == viewer.id)
                        = secondaryViewer.info[:name]
              button.collapse title=I18n.t('common.hide')
                = I18n.t('common.hide')
                img src="/images/dynamic/hex/848484/ui/collapse_up.svg"
    - elsif !running && viewer.nil?
      .task-form-row.supplemental-object
        .task-form-header.label.running-object
          h3 data-phase=phase
            = label
        - eula = false
        - if runObject.eula
          - eula = runObject.eula.index
        .task-form-cell.task-form-item.unknown-route
          .task-form-inner-cell.task-form-object
            img.icon src="/images/dynamic/hex/#{current_theme.hexColorFor('base.error.color')}/icons/ui/remove.svg"
            span.name
              | Cannot determine a way to view this.
            .info
            .task-form-query.card.reveal
              / Show some possible viewers found on the network
              - if previousObject.info[:environment]
                h4
                  | Possible Viewers
                - environment = previousObject.info[:environment]
                - architecture = previousObject.info[:architecture]
                .objects-container.filled.single
                  ul.objects.list data-pjax=:true data-url="/viewers?type=#{previousObject.pathInfo[:type]}&subtype=#{previousObject.pathInfo[:subtype]}"
                    - possibleViewers = Occam::Object.viewersFor(:type => previousObject.pathInfo[:type],
                                                                 :subtype => previousObject.pathInfo[:subtype],
                                                                 :discover => true)
                    - possibleViewers.each do |possibleViewer|
                      == partial(:"objects/listview/detailed-list-item", :locals => {:object => possibleViewer})
              button.collapse title=I18n.t('common.hide')
                = I18n.t('common.hide')
                img src="/images/dynamic/hex/848484/ui/collapse_up.svg"
    - if (route[1..-1] || []).empty? && !(!running && viewer.nil?) && !object.info[:type] == "experiment"
      .task-form-row.supplemental-object
        .task-form-header.label.supplemental-object
          h3.break
            = I18n.t('objects.run.form.providing.header')
            br
            .info
              span.environment
                = (previousObject.info[phase] || {})[:environment] || previousObject.info[:environment]
                img src="/images/dynamic/hex/eeeeee/icons/metadata/environment.svg"
              span.architecture
                = (previousObject.info[phase] || {})[:architecture] || previousObject.info[:architecture]
                img src="/images/dynamic/hex/eeeeee/icons/metadata/architecture.svg"
        .task-form-cell.task-form-item.unknown-route
          .task-form-inner-cell.task-form-object
            img.icon src="/images/dynamic/hex/#{current_theme.hexColorFor('base.error.color')}/icons/ui/remove.svg"
            span.name
              | Cannot determine a way to run this.
            .info
            .task-form-query.card.reveal
              / Show some possible providers found on the network
              - if previousObject.info[:environment]
                h4
                  | Possible Providers
                - environment = (previousObject.info[phase] || {})[:environment] || previousObject.info[:environment]
                - architecture = (previousObject.info[phase] || {})[:architecture] || previousObject.info[:architecture]
                .objects-container.filled.single
                  ul.objects.list data-pjax=:true data-url="/providers?environment=#{environment}&architecture=#{architecture}"
                    - providers = Occam::Object.providersFor(:environment  => environment,
                                                             :architecture => architecture,
                                                             :discover => true)
                    - providers.each do |provider|
                      == partial(:"objects/listview/detailed-list-item", :locals => {:object => provider})
              button.collapse title=I18n.t('common.hide')
                = I18n.t('common.hide')
                img src="/images/dynamic/hex/848484/ui/collapse_up.svg"
    - (route[1..-1] || []).each do |object|
      - if object.is_a?(Occam::Object)
        .task-form-row.supplemental-object
          .task-form-header.label.supplemental-object
            h3.break
              = I18n.t('objects.run.form.providing.header')
              br
              .info
                span.environment
                  = (previousObject.info[phase] || {})[:environment] || previousObject.info[:environment]
                  img src="/images/dynamic/hex/eeeeee/icons/metadata/environment.svg"
                span.architecture
                  = (previousObject.info[phase] || {})[:architecture] || previousObject.info[:architecture]
                  img src="/images/dynamic/hex/eeeeee/icons/metadata/architecture.svg"
          - eula = false
          - if object.eula
            - eula = object.eula.index
          .task-form-cell.task-form-item.supplemental-object data-object=object.fullID data-eula-index=eula data-file=file data-token=encrypt_token(object) data-link=object.link
            .task-form-inner-cell.task-form-object
              img.icon src=object.iconURL(:hex => current_theme.hexColorFor('viewer.queue.panel.inactive.icon'))
              .info
                span.type
                  = object.info[:type]
                span.name
                  = object.info[:name]
              - if object.path && object.path != "/"
                .info.path-info
                  img.arrow src="/images/dynamic/hex/#{current_theme.hexColorFor('viewer.queue.panel.inactive.icon')}/ui/task_form_arrow.svg"
                  img.icon src=Occam::Object.iconURLFor(object.pathInfo[:type], :hex => current_theme.hexColorFor('viewer.queue.panel.inactive.icon'), :subtype => object.pathInfo[:subtype])
                  .info
                    span.type
                      = object.pathInfo[:type]
                    span.name
                      = File.basename(object.path)
              .task-form-query.reveal
                button.collapse title=I18n.t('common.hide')
                  = I18n.t('common.hide')
                  img src="/images/dynamic/hex/848484/ui/collapse_up.svg"
      - else
        - backend = object
        .task-form-row.supplemental-object
          .task-form-header.label.supplemental-object
            h3
              = I18n.t('objects.run.form.backend.header')
          .task-form-cell.task-form-item.supplemental-object data-backend=backend[:backend]
            .task-form-inner-cell.task-form-object
              img.icon src=Occam::Task.iconURLFor(backend[:backend], :hex => "eeeeee")
              .info
                span.name
                  = backend[:backend]
              .task-form-query.reveal
                button.collapse title=I18n.t('common.hide')
                  = I18n.t('common.hide')
                  img src="/images/dynamic/hex/848484/ui/collapse_up.svg"
      - previousObject = object
    .task-form-row.supplemental-object
      .task-form-header.label.supplemental-object
        h3
          = I18n.t('objects.run.form.dispatchTo.header')
      .task-form-cell.task-form-item.supplemental-object data-dispatch-to=request.host
        .task-form-inner-cell.task-form-dispatch
          img.icon src="/images/dynamic/hex/eeeeee/logos/logo_icon.svg"
          .info
            span.name
              = request.host
          /select.dispatch-selector.selector#run-panel-dispatch data-node-type="occam"
            option data-class="occam"
              = request.host
          .task-form-query.reveal
            button.collapse title=I18n.t('common.hide')
              = I18n.t('common.hide')
              img src="/images/dynamic/hex/848484/ui/collapse_up.svg"
    .task-form-row.submit
      .task-form-header.label.submit
      .task-form-cell.submit
        .submit.button-selector data-dropdown-label=I18n.t("objects.run.form.moreOptions")
          - if object.info[:type] == "experiment"
            input.button.run.button-selector-item type="submit" value=I18n.t("objects.run.form.#{phase}AndSave.button") name=:commit
          - else
            input.button.run.button-selector-item type="submit" value=I18n.t("objects.run.form.#{phase}.button") name=:submit disabled=(route[1..-1] || []).empty?
            - if object.link && phase == :build
              input.button.run.button-selector-item type="submit" value=I18n.t("objects.run.form.#{phase}FromClean.button") name=:"from-clean" disabled=(route[1..-1] || []).empty?
