- if !defined?(active)
  - active = false

- if defined?(build)
  li data-status="done" data-task-id=build.id class=(active ? "active" : "")
    .before
    a href="#" 
      span.status
        .dot
        .dot
        .dot
      span.date
        = I18n.l(DateTime.iso8601(build.status[:published]), :format => :long)
- else
  li data-configurable=(object.configurations.any?) data-status=(run.info[:finishTime] ? "done" : (run.info[:failureTime] ? "failed" : "running")) data-run-id=(run.is_a?(Occam::Run) ? run.info[:id] : false) data-job-id=(run.is_a?(Occam::Job) ? run.info[:id] : false) data-task-id=(run.info[:task] ? run.info[:task][:id] : false)
    .before
    a href="#" 
      span.status class=((run.is_a?(Occam::Run) || (run.info[:kind] == "run" || run.info[:kind] == "build") ? "run" : "job")) 
        - unless run.is_a?(Occam::Run) || (run.info[:kind] == "run" || run.info[:kind] == "build")
          img.icon src=(object.iconURL(:hex => "ffffff")) 
          img.icon.inactive src=(object.iconURL(:hex => "b3b3b3")) 
        .dot
        .dot
        .dot
      - if run.is_a?(Occam::Job) && run.info[:kind] != "run" && run.info[:kind] != "build"
        span.type
          = object.info[:type]
        span.name
          = object.info[:name]
      - else
        span.date
          = I18n.l(DateTime.iso8601(run.info[:queueTime]), :format => :long)
    ul.actions
      - unless run.is_a?(Occam::Run)
        li.action.fullscreen data-action="fullscreen"
          button title=("go to fullscreen") alt=("go to fullscreen") 
            | fullscreen
      li.action.cancel hidden=!(run.info[:finishTime].nil? && run.info[:failureTime].nil?) data-action="cancel"
        - if run.is_a?(Occam::Run)
          form action=object.url(:path => "runs/#{run.id}/cancel", :full=>true) method=:post name=:"cancel-run" 
            button.cancel title="cancel" alt="cancel" 
        - else
          form action=object.url(:path => "jobs/#{run.id}/cancel", :full=>true) method=:post name=:"cancel-job" 
            button.cancel title="cancel" alt="cancel" 
