/ Partial: renders the full metadata for an object, such as a Simulator

- layout = current_layout
- if not defined?(workset)
  - workset = nil

- if not defined?(queue)
  - queue = nil

- if not defined?(viewer)
  - viewer = nil

- tabs_id = "main-panels"
- if current_layout.modal?
  - tabs_id = "modal-#{tabs_id}"

ul.card-tabs.tabs.centered role="tablist" data-panels=tabs_id data-push-navigation=!current_layout.modal? data-append-title=!current_layout.modal? data-replace-navigation=!current_layout.modal? data-always-show-dropdown-button=current_layout.embedded?
  - tab_index = 0

  / Workflow
  - if object.info[:type] == "experiment"
    - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "workflow") && "active"
    li.card-layout.tab.tab role=:presentation class=active
      - tab_index += 1
      a id="tab-#{tab_index}" role=:tab aria-controls="tab-panel-#{tab_index}" aria-selected=active href=(object.url(:path => "workflow")) 
        = I18n.t 'objects.workflow.header'

  / Contents
  - if object.info[:type] != "experiment" && object.info[:contains] && object.info[:contains].any?
    - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "contents") && "active"
    li.card-layout.tab.tab role=:presentation class=active
      - tab_index += 1
      a id="tab-#{tab_index}" role=:tab aria-controls="tab-panel-#{tab_index}" aria-selected=active href=(object.url(:path => "contents")) 
        = I18n.t 'objects.contents.header'

  / View
  - if !defined?(viewers)
    - viewers = object.viewers

  - if viewers.any? || object.info[:environment] == "html"
    - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "view")
    li.card-layout.tab.tab{role=:presentation class=('active' if active)}
      - tab_index += 1
      a id="tab-#{tab_index}" role=:tab data-pjax=:true aria-controls="tab-panel-#{tab_index}" aria-selected=active href=(object.url(:path => "view")) 
        = I18n.t 'objects.view.header'

  / Metadata
  - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "metadata")
  li.card-layout.tab.tab{role=:presentation class=('active' if active)}
    - tab_index += 1
    a id="tab-#{tab_index}" role=:tab data-pjax=(!active).to_s aria-controls="tab-panel-#{tab_index}" aria-selected=active href=(object.url(:path => "metadata")) 
      = I18n.t 'objects.metadata.header'

  / Run
  - if object.info[:run] || object.info[:type] == 'experiment'
    - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "run") && "active"
    li.card-layout.tab.tab role=:presentation class=active
      - tab_index += 1
      a id="tab-#{tab_index}" role=:tab data-pjax=(!active).to_s aria-controls="tab-panel-#{tab_index}" aria-selected=active href=(object.url(:path => "run")) 
        = I18n.t 'objects.run.header'

  / Build
  - if object.info[:build]
    - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "build") && "active"
    li.card-layout.tab.tab role=:presentation class=active
      - tab_index += 1
      a id="tab-#{tab_index}" role=:tab data-pjax=(!active).to_s aria-controls="tab-panel-#{tab_index}" aria-selected=active href=(object.url(:path => "build")) 
        = I18n.t 'objects.build.header'

  / Provenance
  - if object.info[:type] == "occam/task" || object.info.has_key?('generator')
    - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "provenance")
    li.card-layout.tab.tab role=:presentation class=active
      - tab_index += 1
      a id="tab-#{tab_index}" role=:tab data-pjax=(!active).to_s aria-controls="tab-panel-#{tab_index}" aria-selected=active href=(object.url(:path => "provenance")) 
        = I18n.t 'objects.provenance.header'

  / Files
  - if object.info[:type] != "experiment"
    - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "files") && "active"
    li.card-layout.tab.tab role=:presentation class=active
      - tab_index += 1
      a id="tab-#{tab_index}" role=:tab data-pjax=(!active).to_s aria-controls="tab-panel-#{tab_index}" aria-selected=active href=(object.url(:path => "files")) 
        = I18n.t 'objects.files.header'

  / Output
  - if object.info.has_key?(:outputs) || object.info[:type] == "experiment"
    - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "output") && "active"
    li.card-layout.tab.tab role=:presentation class=active
      - tab_index += 1
      a id="tab-#{tab_index}" role=:tab data-pjax=(!active).to_s aria-controls="tab-panel-#{tab_index}" aria-selected=active href=(object.url(:path => "output")) 
        = I18n.t 'objects.output.header'

  / History
  - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "history") && "active"
  li.card-layout.tab.tab role=:presentation class=active
    - tab_index += 1
    a id="tab-#{tab_index}" role=:tab data-pjax=(!active).to_s aria-controls="tab-panel-#{tab_index}" aria-selected=active href=(object.url(:path => "history")) 
      = I18n.t 'objects.history.header'

  - # Access
  - if object.canEdit?
    - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "access") && "active"
    li.card-layout.tab.tab role=:presentation class=active
      - tab_index += 1
      a id="tab-#{tab_index}" role=:tab data-pjax=(!active).to_s aria-controls="tab-panel-#{tab_index}" aria-selected=active href=(object.url(:path => "access")) 
        = I18n.t 'objects.access.header'

  / Administration
  - if current_account && current_account.hasRole?("administrator")
    - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "admin") && "active"
    li.card-layout.tab.tab role=:presentation class=active
      - tab_index += 1
      a id="tab-#{tab_index}" role=:tab aria-controls="tab-panel-#{tab_index}" aria-selected=active href=(object.url(:path => "admin")) 
        = I18n.t 'objects.admin.header'

  li.card-layout.dropdown-menu role=:presentation aria-hidden=!current_layout.embedded? hidden=!current_layout.embedded?
    button.dropdown role=:presentation aria-hidden=!current_layout.embedded?
      == svg(:ui, :"object-actions")
    ul.dropdown-menu-options.options

  - if Occam::System.local.hasComponent?("occam.social")
    li.card-layout.sidebar.tab.reveal data-sidebar-reveal=".sidebar.social"
      a.social href=object.url(:path => "/social") title=I18n.t('social.showComments') data-pjax="true"
        = I18n.t 'social.showComments'
        .arrow
        .arrow
        == svg(:ui, :social)

.sub-pjax-progress

.container.right-sidebar
  ul.tab-panels id=tabs_id
    - tab_index = 0

    / Workflow
    - if object.info[:type] == "experiment"
      - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "workflow") && "active"
      li.tab-panel id="tab-panel-#{tab_index}" role=:tabpanel aria-hidden=(!active).to_s aria-labelledby="tab-#{tab_index}" class=active
        - tab_index += 1
        == partial :"objects/workflow", :locals => {:reviewing => reviewing, :workset => workset, :experiment => object, :object => object, :groups => object.groups, :experiments => object.experiments, :help => help, :head_view => false}

    / Contents
    - if object.info[:type] != "experiment" && object.info[:contains] && object.info[:contains].any?
      - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "contents") && "active"
      li.tab-panel id="tab-panel-#{tab_index}" role=:tabpanel aria-hidden=(!active).to_s aria-labelledby="tab-#{tab_index}" class=active
        - tab_index += 1
        == partial :"objects/contents", :locals => {:reviewing => reviewing, :workset => workset, :object => object, :groups => object.groups, :experiments => object.experiments, :help => help, :head_view => false}

    / View
    - if viewers.any? || object.info[:environment] == "html"
      - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "view") && "active"
      li.tab-panel.run id="tab-panel-#{tab_index}" role=:tabpanel aria-hidden=(!active).to_s aria-labelledby="tab-#{tab_index}" class=active
        - tab_index += 1
        == partial(:loading)

    / Metadata
    - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "metadata") && "active"
    li.tab-panel.cards id="tab-panel-#{tab_index}" role=:tabpanel aria-hidden=(!active).to_s aria-labelledby="tab-#{tab_index}" class=active
      - tab_index += 1
      - if active
        == partial :"objects/metadata", :locals => {:object    => object,
                                                    :reviewing => reviewing}
      - else
        == partial(:loading)

    / Run
    - if object.info[:run] || object.info[:type] == 'experiment'
      - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "run") && "active"
      li.tab-panel.run id="tab-panel-#{tab_index}" role=:tabpanel aria-hidden=(!active).to_s aria-labelledby="tab-#{tab_index}" class=active
        - tab_index += 1
        - if active
          == partial :"objects/run", :locals => {:help            => help,
                                                 :view            => view,
                                                 :object          => object}
        - else
          == partial(:loading)

    / Build
    - if object.info[:build]
      - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "build") && "active"
      li.tab-panel.build id="tab-panel-#{tab_index}" role=:tabpanel aria-hidden=(!active).to_s aria-labelledby="tab-#{tab_index}" class=active
        - tab_index += 1
        - if !defined?(build)
          - build = nil
        - if !defined?(task)
          - task = nil
        - if active
          == partial :"objects/build", :locals => {:help            => help,
                                                   :view            => view,
                                                   :build           => build,
                                                   :task            => task,
                                                   :object          => object}
        - else
          == partial(:loading)

    / Provenance
    - if object.info[:type] == "occam/task" || object.info.has_key?('generator')
      - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "provenance") && "active"
      li.tab-panel.cards id="tab-panel-#{tab_index}" role=:tabpanel aria-hidden=(!active).to_s aria-labelledby="tab-#{tab_index}" class=active
        - tab_index += 1
        - if active
          == partial :"objects/provenance", :locals => {:object => object}
        - else
          == partial(:loading)

    / Files
    - if object.info[:type] != "experiment"
      - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "files") && "active"
      li.tab-panel id="tab-panel-#{tab_index}" role=:tabpanel aria-hidden=(!active).to_s aria-labelledby="tab-#{tab_index}" class=active
        - tab_index += 1
        - if active
          == partial :"objects/files", :locals => {:data => data,
                                                   :workset => workset,
                                                   :layout  => layout,
                                                   :fileInfo => fileInfo,
                                                   :path => path,
                                                   :object => object,
                                                   :data_mime_type => data_mime_type}
        - else
          == partial(:loading)

    / Output
    - if object.info.has_key?(:outputs) || object.info[:type] == "experiment"
      - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "output") && "active"
      li.tab-panel.cards id="tab-panel-#{tab_index}" role=:tabpanel aria-hidden=(!active).to_s aria-labelledby="tab-#{tab_index}" class=active
        - tab_index += 1
        - if active
          == partial :"objects/output", :locals => {:workset    => workset,
                                                    :object     => object,
                                                    :help       => help}
        - else
          == partial(:loading)

    / History
    - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "history") && "active"
    li.tab-panel.cards id="tab-panel-#{tab_index}" role=:tabpanel aria-hidden=(!active).to_s aria-labelledby="tab-#{tab_index}" class=active
      - tab_index += 1
      - if active
        == partial :"objects/history", :locals => locals
      - else
        == partial(:loading)

    / Access
    - if object.canEdit?
      - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "access") && "active"
      li.tab-panel.cards id="tab-panel-#{tab_index}" role=:tabpanel aria-hidden=(!active).to_s aria-labelledby="tab-#{tab_index}" class=('active' if active)
        - tab_index += 1
        - if active
          == partial :"objects/access", :locals => {:object => object, :help => help}
        - else
          == partial(:loading)

    / Admin
    - if current_account && current_account.hasRole?("administrator")
      - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "admin") && "active"
      li.tab-panel.cards id="tab-panel-#{tab_index}" role=:tabpanel aria-hidden=(!active).to_s aria-labelledby="tab-#{tab_index}" class=active
        - tab_index += 1
        == partial :"objects/admin", :locals => locals
  - if Occam::System.local.hasComponent?("occam.social")
    .social.card.sidebar.loading.right.perfect-scrollbar.reveal.wide

  / TODO: remove this
  /- content_for :scripts do
    script src="/js/noVNC/util.js" 
    script src="/js/vnc.js" 
