.card.filled.social
  == header(:id        => :social,
            :text      => t('social.header'),
            :help      => t('social.help'))
  - if logged_in?
    form.comment-field action=(object.url(:path => "social/comments")) method=:post 
      textarea value="" placeholder=I18n.t('fields.placeholders.comment') name="comment"
      input.button.short value=I18n.t('fields.submit') type= :submit name="submit"
      .dropdown-menu
        a.button.inline href="#"
          | ...
        ul.dropdown-menu-options
          li
            a.icon.feed href=object.url(:path => "social/feed")
              = I18n.t("social.feed")
              img src=imageURL("icons/metadata/rss.svg", :hex => current_theme.hexColorFor("interface.dropdown.icon"))
              img.hover src=imageURL("icons/metadata/rss.svg", :hex => current_theme.hexColorFor("interface.dropdown.hover.icon"))
      input type=:hidden name=:inReplyTo value=params["inReplyTo"]
      label.slider-checkbox for="post-anonymous"
        input.checkbox type=:checkbox name="anon" id="post-anonymous"
        span.label
          = I18n.t('social.postAnon')
    form.edit-field hidden=true action=object.url(:path => "social/comments/") method=:post 
      textarea value="" placeholder=I18n.t('fields.placeholders.comment') name="comment"
      input.button.short value=I18n.t('fields.submit') type=:submit name="submit"
      input type=:hidden name=:edit
  - else
    p.login-prompt
      a.modal href="/login"
        == t("social.loginPrompt")
  ul.comments
    - if params["comment"]
      - comments = object.viewComments(:id => params["comment"])
    - elsif params["inReplyTo"]
      - comments = object.viewComments(:id => params["inReplyTo"])
    - else
      - comments = object.viewComments
    - comments.each do |comment|
      == partial(:"objects/social/comment", :locals => {:comment => comment, :object => object})
  p.no-comments
    = I18n.t('social.noComments')
