- if !defined?(viewers)
  - viewers = object.viewers

- if !defined?(file)
  - file = nil

- if !defined?(preferredViewer) or preferredViewer.nil?
  - if viewers.any?
    - preferredViewer = viewers.first

- if !defined?(queue)
  - queue = nil

- if !defined?(viewer)
  - viewer = nil

.card.filled.object-viewer.flex
  ul.tabs.tab-bar.filled.object-viewer-info hidden=(current_layout.view == :minimal)
    li.tab.sidebar.configure.reveal disabled=(preferredViewer.nil? || preferredViewer.configurations.empty?)
      a href="#" title=I18n.t('navigation.runQueue')
        = I18n.t('navigation.runQueue')
        .arrow
        .arrow
        == svg(:ui, :"configuration-panel")
    img src=imageURL("ui/viewer_object.svg", :hex => current_theme.hexColorFor("tabs.tertiary.icon")) hidden=viewers.empty?
    select.selector.viewer-object aria-label=I18n.t("object-viewer-info.viewer") title=I18n.t("object-viewer-info.viewer") hidden=viewers.empty? data-icon-color=current_theme.hexColorFor('interface.selector.icon') data-icon-hover-color=current_theme.hexColorFor('interface.selector.hover.icon') data-icon-disabled-color=current_theme.hexColorFor('interface.selector.disabled.icon') data-icon-base-url="/images/dynamic/hex/"
      - viewers.uniq{|el| el.id}.each do |viewer|
        option data-icon-url=viewer.iconURL(:relative => true) data-object-id=viewer.id data-object-revision=viewer.revision data-object-type=viewer.info[:type] selected=(viewer.id == preferredViewer.id) data-viewer-id=(viewer.id == preferredViewer.id ? "0" : false) data-autorun=viewer.widget?
          = viewer.info[:name]
    - if preferredViewer
      button.button.icon.view.modal href=preferredViewer.url(:path => "metadata") title="view" alt="view" data-modal-large=true data-modal-display="flex" data-modal-height="90%"
        == svg(:ui, :search)
      button.button.icon.fullscreen title=("go to fullscreen") alt=("go to fullscreen") href="#"
        == svg(:ui, :fullscreen)
    li.dropdown-menu role=:presentation aria-hidden=:true hidden=true
      button.dropdown role=:presentation aria-hidden=:true
        == svg(:ui, :"object-actions")
      ul.dropdown-menu-options.options
    li.tab.sidebar.run-queue.reveal data-sidebar-reveal='.sidebar[data-phase="run"]'
      a href="#" title=I18n.t('navigation.runQueue')
        = I18n.t('navigation.runQueue')
        .arrow
        .arrow
        == svg(:ui, :"run.small")

  - if viewers.any?
    ul.tab-panels.card.flex.filled
      li.tab-panel.active
        .card.filled.flex.object-runner.object-viewer.container
          == partial(:"objects/runner", :locals => {:running => false,
                                                    :viewer  => viewer || preferredViewer || object,
                                                    :object  => object,
                                                    :file    => file,
                                                    :input   => object,
                                                    :queue   => queue})
  - elsif object.info[:type] == "configuration"
    == partial(:"objects/configuration", :locals => {:object => object})

  - elsif object.info[:environment] == "html"
    .card.filled.flex.object-runner.object-viewer.container
      == partial(:"objects/viewer", :locals => {:viewerObject => object,
                                                :object       => object,
                                                :viewers      => viewers,
                                                :input        => nil,
                                                :help         => defined?(help) ? help : ""})
