- if !defined?(phase)
  - phase = :run

- if !defined?(build)
  - build = nil

- if !defined?(preview)
  - preview = false

- if !defined?(sidebar)
  - sidebar = nil

- if !defined?(width)
  - width  = "100%"
  - height = "100%"

- viewerSize = nil
- if viewerObject
  - viewerSize = viewerObject.info[:size]
  - viewerObject.info(true)

- if !defined?(resizeToAspectRatio)
  - resizeToAspectRatio = true

- if !defined?(height) || resizeToAspectRatio
  - if viewerSize && width.is_a?(Integer)
    - height = (viewerSize['height'] || 400).to_i * width / (viewerSize['width'] || 450).to_i

- if !defined?(scale)
  - scale = 1.0

- baseWidth = width
- baseHeight = height

- if width.is_a? Integer
  - baseWidth = "#{baseWidth}px"
  - width = width * scale
  - width = "#{width}px"

- if height.is_a? Integer
  - baseHeight = "#{baseHeight}px"
  - height = height * scale
  - height = "#{height}px"

- if !defined?(running)
  - running = false

- if !defined?(file)
  - file = nil

- if !defined?(input)
  - input = nil

- sandbox = "allow-pointer-lock allow-scripts"

- if viewerObject && !running && viewerObject.info[:architecture] == 'javascript'
  - if !preview
    .card.filled.object-runner.object-viewer.container.flex
      == partial(:"objects/runner", :locals => {:workset => nil,
                                                :running => running,
                                                :viewer  => viewerObject,
                                                :object  => object,
                                                :phase   => phase,
                                                :build   => build,
                                                :separator_resize => true,
                                                :sidebar => sidebar,
                                                :file    => file,
                                                :input   => input})
  - else
    - viewer = viewerObject
    / Determine the correct raw path...
    - iframeSrc = viewer.fileURL(:full => true) #, :query => {"_occam_tokens" => "foo,bar"})
    iframe.widget.preview sandbox=sandbox data-src=iframeSrc data-input-object-id=input.id data-input-object-type=input.info[:type] data-input-object-revision=input.revision data-input-file=file data-token=encrypt_token data-object-id=viewer.id data-object-revision=viewer.revision
- else
  - if !preview
    .card.filled.object-viewer hidden=true
      iframe.full-widget.separator-resize style=("overflow: hidden; width: 100%; height: 100%; display: block;") sandbox=sandbox src=""
  .card.filled.object-runner.object-viewer.container.flex
    == partial(:"objects/runner", :locals => {:workset => nil,
                                              :running => running,
                                              :viewer  => viewerObject,
                                              :object  => object,
                                              :phase   => phase,
                                              :sidebar => sidebar,
                                              :separator_resize => true,
                                              :file    => file,
                                              :input   => object})
