h1.fork
  == svg(:ui, :fork, :class => "large-icon action fork")
  .name id=((request.xhr? ? "modalLabel" : false)) 
    = I18n.t('headers.fork')
  .organization
    = I18n.t('description.fork')
.bar

== partial :errors, {:locals => {:errors => errors}}

form.card.filled.flex.modal action=object.url(:path => "fork") method=:post name=:fork 
  .card.filled
    label for=:name 
      = I18n.t('fields.name')
    input type="text" id=:name name=:name value=object.info[:name] 
    - if current_person
      label for=:to 
        = I18n.t('fields.to')
      == partial :"objects/object_tree", :locals => {:objects => [current_person], :recurse => 1}
  .card
    .submit
      input.button type="submit" value="Fork" name=:submit 
