h1.license
  == svg(:metadata, :license, :class => "large-icon action license")
  .name id=((request.xhr? ? "modalLabel" : false)) 
    = I18n.t('objects.license.header')
  .organization
    = license.fullName
.bar

- tabs_id = "license-panes"
- if request.xhr?
  - tabs_id = "modal-#{tabs_id}"

.card.container.transparent.filled.flex
  .card.filled.flex.transparent
    ul.tabs.tab-bar data-panels=tabs_id
      li.tab.active
        a.icon href="#text" 
          == svg(:ui, :"list-view")
          | Text
      li.tab
        a.icon href="#text" 
          == svg(:ui, :done)
          | Details
    ul.tab-panels.flex.filled id=tabs_id
      li.tab-panel.active
        - if object && license.file.nil?
          / This is a guessed license
          .card.notice.transparent
            p
              = I18n.t(:"objects.license.inferred")
        .card.filled.license.full
          == render_description("```\n#{license.text.strip}\n```", object, :fenced_code_blocks => true)
      li.tab-panel.license-details.flex.filled
        / This is a guessed license
        .card.notice.transparent
          p
            = I18n.t(:"objects.license.inferred")
        .card.filled.full
          - license = license.info
          - if license[:type]
            h2
              | Category
            ul
              li
                = license[:type]
              - if license[:category]
                li
                  = license[:category]
          - if license[:description]
            - if license[:description][:permissions]
              h2
                | Permissions
              ul
                - license[:description][:permissions].each do |item|
                  li
                    = item
            - if license[:description][:conditions]
              h2
                | Conditions
              ul
                - license[:description][:conditions].each do |item|
                  li
                    = item
            - if license[:description][:limitations]
              h2
                | Limitations
              ul
                - license[:description][:limitations].each do |item|
                  li
                    = item
