- if !defined?(summary)
  - summary = ""

h1.new-history
  == svg(:metadata, :date, :class => "large-icon action new-history")
  .name id=((request.xhr? ? "modalLabel" : false)) 
    = I18n.t('objects.history.new.header')
  .organization
    = I18n.t('objects.history.new.description')
.bar

== partial :errors, {:locals => {:errors => errors}}

- tabs_id = "new-history-panes"
- if request.xhr?
  - tabs_id = "modal-#{tabs_id}"

form.card.transparent.filled.flex.modal#new-history action=(object.url(:path => "history")) method=:post
  .card.submitting hidden=true
    .submit-animation
      p
        = I18n.t "objects.history.new.pending"
      == partial(:loading)
  .card.filled.flex.new-history.objects.transparent
    ul.tabs.tab-bar data-panels=tabs_id
      li.edit.tab.active
        a.icon href="#general" 
          == svg(:ui, :"list-view")
          = I18n.t('objects.history.new.tabs.general')
    ul.tab-panels.flex.filled id=tabs_id
      li.tab-panel.metadata.flex.filled.active
        .card.filled.full
          label for=:"add-io-summary"
            = I18n.t('objects.history.new.fields.summary')
          input#new-history-summary type=:text name=:"summary" value=summary
  .card
    .submit
      input type=:hidden name=:referrer value="history" 
      input#new-history-submit.button type="submit" value=I18n.t('objects.history.new.submit') data-modal-check-errors=true
