h1.error-500
  == svg(:ui, :error, :class => "large-icon")
  .name
    = I18n.t('static.500.header')
.bar

.card.filled.markdown
  p
    = I18n.t('static.500.message')

  img src="/images/static/500.png"

  p
    = I18n.t('static.common.artworkBy')
    a< href="http://zerglingsascats.com/post/81645409173/tangled"
      | Jackie Kircher

.card.flex.filled

== partial(:footer)
