h1.credits
  img.large-icon.credits src=imageURL("icons/metadata/authors.svg", :hex => current_theme.hexColorFor("header.general.icon"))
  .name
    = I18n.t('static.credits.header')
.bar

.card.transparent.cards.filled.flex
  .card
    h2
      = I18n.t('static.credits.systemDesigner')

    ul
      li
        p
          a href="https://wilkie.how"
            | wilkie

  .card
    h2
      = I18n.t('static.credits.developers')

    ul
      li
        p
          | Luís Oliveira
      li
        p
          | Chelsea Mafrica
      li
        p
          | Junhui Chen
      li
        p
          | Jay McAleer
      li
        p
          | Gennady Martynenko
      li
        p
          | Brian Dicks
      li
        p
          | Long Pham
      li
        p
          | Ben Moncuso
      li
        p
          | Jim Devine
      li
        p
          | Nicholas Alberts
      li
        p
          | Phillip Faust
      li
        p
          | Cullen Strouse
      li
        p
          | Christopher Iwaszko
      li
        p
          | Lenny Maynard
      li
        p
          | Ryan Pollich
      li
        p
          | Michael Okonski
      li
        p
          | Ryan Yoder
      li
        p
          | Raphael Cardoso Fernandes

  .card
    h2
      = I18n.t('static.credits.administrators')

    ul
      li
        p
          | Dr. Bruce Childers
        p
          | Dr. Daniel Mossé
        p
          | Dr. Alex Jones
        p
          | Adam Hobaugh

  .card
    h2
      = I18n.t('static.credits.organizations')

    ul
      li
        p
          | The University of Pittsburgh
      li
        p
          | National Science Foundation

  .card
    h2
      = I18n.t('static.credits.artists')

    p style="max-width: 100%; width: 35rem; margin-left: auto; margin-right: auto; text-align: left;"
      = I18n.t('static.credits.artMessage')

    - images = [{:src          => "ui/configuration-panel.svg",
                 :name         => "Gear",
                 :author       => "Reed Enger",
                 :authorURL    => "https://thenounproject.com/reed",
                 :publisher    => "The Noun Project",
                 :publisherURL => "https://thenounproject.com"},
                {:src          => "icons/objects/experiment.svg",
                 :name         => "Flask",
                 :author       => "Renan Ferreira Santos",
                 :authorURL    => "https://thenounproject.com/renanfsdesign",
                 :publisher    => "The Noun Project",
                 :publisherURL => "https://thenounproject.com"},
                {:src          => "icons/ui/fork.svg",
                 :name         => "Fork",
                 :author       => "Dmitry Baranovskiy",
                 :authorURL    => "https://thenounproject.com/DmitryBaranovskiy",
                 :publisher    => "The Noun Project",
                 :publisherURL => "https://thenounproject.com"},
                {:src          => "person.png",
                 :name         => "User",
                 :author       => "Andreas Bjurenborg",
                 :authorURL    => "https://thenounproject.com/andreas.bjurenborg",
                 :publisher    => "The Noun Project",
                 :publisherURL => "https://thenounproject.com"},
                {:src          => "icons/objects/simulator.svg",
                 :name         => "Cpu (modified)",
                 :author       => "Michael Anthony",
                 :authorURL    => "https://thenounproject.com/m.j.anthony",
                 :publisher    => "The Noun Project",
                 :publisherURL => "https://thenounproject.com"},
                {:src          => "index/pillar.svg",
                 :name         => "Column (modified)",
                 :author       => "Benedikt Martens",
                 :authorURL    => "https://thenounproject.com/Benedikt",
                 :publisher    => "The Noun Project",
                 :publisherURL => "https://thenounproject.com"},
                {:src          => "icons/objects/benchmark.svg",
                 :name         => "Gear",
                 :author       => "irene hoffman",
                 :authorURL    => "https://thenounproject.com/i",
                 :publisher    => "The Noun Project",
                 :publisherURL => "https://thenounproject.com"},
                {:src          => "icons/objects/game.svg",
                 :name         => "Game Controller",
                 :author       => "Jack",
                 :authorURL    => "https://thenounproject.com/SkeletonJack666",
                 :publisher    => "The Noun Project",
                 :publisherURL => "https://thenounproject.com"},
                {:src          => "ui/workflowItemConfiguration.png",
                 :name         => "Wrench and Screwdriver",
                 :author       => "Cheesefork",
                 :authorURL    => "https://thenounproject.com/Cheesefork",
                 :publisher    => "The Noun Project",
                 :publisherURL => "https://thenounproject.com"},
                {:src          => "icons/ui/search.svg",
                 :name         => "Magnifying Glass",
                 :author       => "irene hoffman",
                 :authorURL    => "https://thenounproject.com/i",
                 :publisher    => "The Noun Project",
                 :publisherURL => "https://thenounproject.com"},
                {:src          => "bookmark.svg",
                 :name         => "Bookmark (modified)",
                 :author       => "icon 54",
                 :authorURL    => "https://thenounproject.com/icon54app",
                 :publisher    => "The Noun Project",
                 :publisherURL => "https://thenounproject.com"},
                {:src          => "icons/roles/administrator.svg",
                 :name         => "Gear",
                 :author       => "Shawn Erdely",
                 :authorURL    => "https://thenounproject.com/shawn4",
                 :publisher    => "The Noun Project",
                 :publisherURL => "https://thenounproject.com"},
                {:src          => "icons/objects/paper.svg",
                 :name         => "Diagram",
                 :author       => "Aha-Soft",
                 :authorURL    => "https://thenounproject.com/ahasoft",
                 :publisher    => "The Noun Project",
                 :publisherURL => "https://thenounproject.com"},
                {:src          => "icons/ui/login.svg",
                 :name         => "Lock",
                 :author       => "Claudio Gomboli",
                 :authorURL    => "https://thenounproject.com/clagom",
                 :publisher    => "The Noun Project",
                 :publisherURL => "https://thenounproject.com"},
                {:src          => "icons/objects/installer.svg",
                 :name         => "Custom Software",
                 :author       => "www.yugudesign.com",
                 :authorURL    => "https://thenounproject.com/YuguDesign",
                 :publisher    => "The Noun Project",
                 :publisherURL => "https://thenounproject.com"},
                {:src          => "icons/objects/album.svg",
                 :name         => "Album",
                 :author       => "Hello Many",
                 :authorURL    => "https://thenounproject.com/HelloMany",
                 :publisher    => "The Noun Project",
                 :publisherURL => "https://thenounproject.com"},
                {:src          => "icons/objects/audio.svg",
                 :name         => "Sound Wave",
                 :author       => "Kid A",
                 :authorURL    => "https://thenounproject.com/indygo",
                 :publisher    => "The Noun Project",
                 :publisherURL => "https://thenounproject.com"},
                {:src          => "icons/metadata/license.svg",
                 :name         => "Scale",
                 :author       => "Nikhil Dev",
                 :authorURL    => "https://thenounproject.com/yendev",
                 :publisher    => "The Noun Project",
                 :publisherURL => "https://thenounproject.com"},
                 ]

    ul style="max-width: 100%; width: 35rem; margin-left: auto; margin-right: auto; text-align: left;"
      - images.each do |info|
        li
          p style="min-height: 3rem; position: relative; vertical-align: middle; padding-left: 3.5rem;"
            a.img-container href=imageURL(info[:src]) style="left: 0.25rem; top: 0.25rem; position: absolute; width: 2.5rem; height: 2.5rem; border-radius: 0.5rem; border: 1px solid #ddd; display: flex; justify-content: center; align-items: center;"
                img style="max-width: 2rem; max-height: 2rem;" src=imageURL(info[:src], :hex => "2ea1b8") aria-hidden="true"
            span.text-container style="min-height: 3rem; display: flex; align-items: center;"
              span.text-content
                - if info[:publisher]
                  == t("static.credits.artCreditFull", :replace => {:authorLink => "<a href=\"" + info[:authorURL] + "\">#{info[:author]}</a>",
                                                                    :publisherLink => "<a href=\"" + info[:publisherURL] + "\">#{info[:publisher]}</a>",
                                                                    :name => info[:name]})
                - else
                  == t("static.credits.artCreditSimple", :replace => {:authorLink => "<a href=\"" + info[:authorURL] + "\">#{info[:author]}</a>",
                                                                      :name => info[:name]})

  .card
    h2
      | CSS

    p style="max-width: 100%; width: 35rem; margin-left: auto; margin-right: auto; text-align: left;"
      label.slider-checkbox
        input type=:checkbox
        span.label
          | slider-checkbox

    p style="max-width: 100%; width: 35rem; margin-left: auto; margin-right: auto; text-align: left;"
      | I'm using some great code found here at
      a<> href="https://codepen.io/Qvcool/pen/bdzVYW"
        | this codepen
      | by 
      a<> href="https://s.codepen.io/Qvcool"
        | Qvcool
      | for doing slider-like checkboxes. I've made some modifications to make it better suited to the theming and other styling of the page.

  .card
    h2
      | Open Source Software

    p style="max-width: 100%; width: 35rem; margin-left: auto; margin-right: auto; text-align: left;"
      | The OCCAM software project is proud to use and support the following software projects. This is nowhere near a complete list of open source software that we make use of. That list is almost impractical to generate!

    h3 style="max-width: 100%; width: 35rem; margin-left: auto; margin-right: auto; text-align: left; margin-top: 1rem;"
      | Server

    ul style="max-width: 100%; width: 35rem; margin-left: auto; margin-right: auto; text-align: left;"
      li
        p
          a> href="https://www.ruby-lang.org/en/"
            | Ruby
          | - an expressive scripting language.
      li
        p
          a> href="http://slim-lang.com/"
            | slim
          | - markup preprocessor for html.
      li
        p
          a> href="https://sass-lang.com/"
            | Sass
          | - markup preprocessor for css.
      li
        p
          a> href="https://github.com/seattlerb/minitest"
            | minitest
          | - minimal testing framework.
      li
        p
          a> href="https://gofreerange.com/mocha/docs/"
            | mocha
          | - mocking/stubbing framework for testing.
      li
        p
          a> href="https://www.postgresql.org/"
            | PostgreSQL
          | - robust SQL database implementation for deployed environments.
      li
        p
          a> href="http://www.sinatrarb.com/"
            | Sinatra
          | - a minimalistic web framework for Ruby.
      li
        p
          a> href="https://puma.io/"
            | puma
          | - a minimal webserver we use for development.
      li
        p
          a> href="https://github.com/hpoydar/chronic_duration"
            | chronic_duration
          | - a library to pretty print time durations.
      li
        p
          a> href="https://guides.rubyonrails.org/i18n.html"
            | i18n
          | - internationalization library.
      li
        p
          a> href="https://github.com/vmg/redcarpet"
            | redcarpet
          | - markdown parsing library.
      li
        p
          a> href="http://teamcapybara.github.io/capybara/"
            | capybara
          | - acceptance testing selenium driver for the front-end.

    h3 style="max-width: 100%; width: 35rem; margin-left: auto; margin-right: auto; text-align: left; margin-top: 1rem;"
      | Occam Backend

    ul style="max-width: 100%; width: 35rem; margin-left: auto; margin-right: auto; text-align: left;"
      li
        p
          a> href="https://python.org"
            | Python
          | - a robust scripting language.
      li
        p
          a> href="https://pypi.python.org/pypi/pycryptodome"
            | pycryptodome
          | - cryptography library.
      li
        p
          a> href="http://pyyaml.org/"
            | pyyaml
          | - YAML parser library.
      li
        p
          a> href="https://pypi.python.org/pypi/bcrypt"
            | bcrypt
          | - bcrypt implementation.
      li
        p
          a> href="https://pytest.org/"
            | pytest
          | - Python testing framework.
      li
        p
          a> href="https://tox.readthedocs.io/"
            | tox
          | - Python automation tool.

    h3 style="max-width: 100%; width: 35rem; margin-left: auto; margin-right: auto; text-align: left; margin-top: 1rem;"
      | JavaScript

    ul style="max-width: 100%; width: 35rem; margin-left: auto; margin-right: auto; text-align: left;"
      li
        p
          a> href="http://kanaka.github.io/noVNC/"
            | noVNC
          | - JavaScript VNC client library.

== partial(:footer)
