/ Generates a list of objects
/
/ Locals: objects - an array of Occam::Object

ul.object-list
  - if objects.nil?
    - objects = []
  - objects.each_with_index do |object, i|
    - if object.info[:type] == "person"
      - object = object.as(Occam::Person)
    li.object data-object-type=object.info[:type] data-object-revision=(object.revision? ? object.revision : false)
      span.icon
        == svg(:objects, object.iconID, :class => "icon")
      - if object.info.has_key? :name
        h2.name.object
          = object.info[:name]
      - if object.info.has_key? :type
        h2.type.object
          = object.info[:type]
      p
        a href=(object.url(:short => true)) 
          = I18n.t 'common.view'
      / TODO: hmm, need to inspect generated object and see if it has a file
      - if object.info[:file]
        p
          a href=(object.url(:path => "file")) 
            = I18n.t 'common.download'
      - if object.info[:schema]
        p
          a href=(object.url(:path => "schema")) 
            = I18n.t 'common.schema'
      - if deleteURLs && deleteURLs[i]
        form action=deleteURLs[i] method=:post
          input type=:hidden value='delete' name=:_method 
          button.remove.delete.inline
            == svg(:ui, :remove)
