/ Generates a preview listing of objects
/
/ Locals: objects  - either an array of Occam::Object (or a relation) or an
/                    array of object infomation (array of hashes).

- if !defined?(deleteURLs)
  - deleteURLs = nil

ul.object-preview-list
  - if objects.nil?
    - objects = []
  - objects.each_with_index do |object, i|
    / Render people specially
    - originalObject = object
    - if object.info[:type] == "person"
      - object = object.as(Occam::Person, :identity => object.info[:identity])
    / if there is an image to show
    - hasPreview = (object.info[:images] || []).any?
    li.object data-object-id=object.id data-object-uid=object.uid data-object-type=object.info[:type] data-object-revision=object.revision data-revision=object.revision data-has-preview=hasPreview
      a href=object.url alt=I18n.t('common.view')
        .object-header
          == svg(:objects, object.iconID, :class => "icon")
          h2.type.object data-object-type=object.info[:type]
            = object.info[:type]
            - if object.info[:subtype] && object.info[:subtype].any?
              span.subtype
                = object.info[:subtype].first
          - if object.info[:name]
            p.name
              = object.info[:name]
          - if object.info[:summary]
            p.summary hidden=true
              = object.info[:summary]
          - if deleteURLs && deleteURLs[i]
            form action=deleteURLs[i] method=:post
              input type=:hidden value='delete' name=:_method 
              button.remove.delete
                == svg(:ui, :remove)

        - if false
          / This will look for and show a 'preview' of the object
          / Possibly, in the future, this can be interactive widgets that are
          / "associated" via a 'preview' relationship (much like viewers, etc)
          / And also, this may queue a preview generation step (that can be
          / cached or looked up in the federation) to generate a thing that
          / can be previewed (like an image, e.g. a screenshot of a webpage or
          / pdf)
          - if current_person
            - association = current_person.associationFor(object)
          - else
            - association = Occam::Object.associationFor(object)

          - if association
            - preferredViewer = association.object
          - elsif object.viewers.any?
            - preferredViewer = object.viewers.first
          - else
            - preferredViewer = nil

          - if preferredViewer
            .object-preview.widget
              == partial(:"objects/viewer", :locals => {:viewerObject => preferredViewer,
                                                        :object       => object,
                                                        :object_info  => object,
                                                        :width        => 300,
                                                        :height       => 250,
                                                        :resizeToAspectRatio => true,
                                                        :scale        => 2.0,
                                                        :preview      => true,
                                                        :help         => defined?(help) ? help : ""})
        - elsif (object.info[:images] || []).any? # if there is an image to show
          .object-preview.loading><
            img< src=originalObject.url(:path => "/raw/#{object.info[:images][0]}")
