- if !defined?(query) || query.nil?
  - query = ""

- if !defined?(data) || data.nil?
  - data = {}

- if !defined?(sidebarRevealed)
  - sidebarRevealed = false

.search.card.filled.flex.sidebar class=(!sidebarRevealed ? "reveal" : false)
  h2
    = I18n.t('search.sidebar.header')

  form.card.filled.flex action="/search"
    input type=:text value=query name=:query

    ul.tabs.tab-bar
      li.tab.active
        a
          | Filter

    ul.tab-panels.filled.card.flex
      li.tab-panel.card.active
        == partial(:"objects/listview/facets", :locals => {:data => data})
